﻿@model IEnumerable<Brand>
@{
    ViewData["Title"] = "Add new car";
}

<selection>

    <div class="container">
        <div class="py-5 text-center">
            <h2>Add new car</h2>
        </div>

        <div class="row">

            <div class="col-md-12 order-md-1">

                <form asp-action="Add" asp-controller="Car" method="post" enctype="multipart/form-data">

                    <div class="col-md-12 mb-6 p-0">
                        <label>Name:</label><br />
                        <input type="text" class="form-control" name="Car.Name" required />
                    </div>
                    <div class="col-md-12 mb-6 p-0">
                        <label>Price day:</label><br />
                        <input id="numbersOnly" class="form-control" value="10,00" pattern="[0-9,]+" title="Enter price in format x,xx" type="text" name="Car.PriceDay" required />
                    </div>
                    <div class="col-md-12 mb-6 p-0">
                        <label>Price hour:</label><br />
                        <input id="numbersOnly" class="form-control" value="1,00" pattern="[0-9,]+" title="Enter price in format x,xx" type="text" name="Car.PriceHour" required />
                    </div>
                    <div class="col-md-12 mb-6 p-0">
                        <label>Type:</label><br />
                        <input type="text" class="form-control" name="Car.Type" required />
                    </div>
                    <div class="col-md-12 mb-6 p-0">
                        <label>Description:</label><br />
                        <input type="text" class="form-control" name="Car.Description" required />
                    </div>
                    <div class="col-md-12 mb-6 p-0">
                        <label>Brand:</label><br />
                        @Html.DropDownList("Car.BrandId", new SelectList(Model, "BrandID", "Name"), new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Odometer</label>
                        <input type="number" name="Car.Odometer" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Trasition</label>
                        <input type="text" name="Car.Trasition" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Air Bags</label>
                        <input type="number" name="Car.AirBags" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Technology</label>
                        <input type="text" name="Car.Technology" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Economy</label>
                        <input type="number" name="Car.Economy" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Fuel Type</label>
                        <input type="text" name="Car.FuelType" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Power</label>
                        <input type="number" name="Car.Power" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Seats</label>
                        <input type="number" name="Car.Seats" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Capity</label>
                        <input type="number" name="Car.Capity" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Product Year</label>
                        <input type="number" name="Car.ProductYear" class="form-control" required />
                    </div>

                    @await Component.InvokeAsync(nameof(FileInput), new FileInputParams() { Accept = "jpg" })

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
</selection>
