﻿@model CarWithBrand
@{
    ViewData["Title"] = "Edit " + Model.Car.Name + " car";
}
<selection>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <img class="img-fluid vw-100 mb-2 rounded" src="~/@Html.GetPhotoCar(@Model.Car.CarID)" alt="@Model.Car.Name" />
            </div>
            <div class="col-sm-12 col-md-8 col-lg-6">
                <form asp-action="Edit" asp-controller="Car" asp-route-id="@Model.Car.CarID" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Car.CarID" />
                    <div class="form-group">
                        <label asp-for="Car.Name" class="control-label">Name</label>
                        <input type="text" asp-for="Car.Name" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Brand</label><br />
                        @Html.DropDownList("Car.BrandId", new SelectList(Model.Brands, "BrandID", "Name", Model.Car.BrandId), new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label asp-for="Car.PriceDay" class="control-label">Price day</label>
                        <input id="numbersOnly" pattern="[0-9,]+" title="Enter price in format x,xx" name="Car.PriceDay" type="text" value="@Model.Car.PriceDay.ToString(new NumberFormatInfo() { NumberDecimalSeparator = "," })" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Car.PriceHour" class="control-label">Price hour</label>
                        <input id="numbersOnly" pattern="[0-9,]+" title="Enter price in format x,xx" name="Car.PriceHour" type="text" value="@Model.Car.PriceHour.ToString(new NumberFormatInfo() { NumberDecimalSeparator = "," })" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Car.Type" class="control-label">Type</label>
                        <input type="text" asp-for="Car.Type" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Car.Description" class="control-label">Description</label>
                        <input type="text" asp-for="Car.Description" class="form-control" required />
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Car.Odometer" class="control-label">Odometer</label>
                        <input type="number" asp-for="Car.Odometer" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Car.Trasition" class="control-label">Trasition</label>
                        <input type="text" asp-for="Car.Trasition" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Car.AirBags" class="control-label">Air Bags</label>
                        <input type="number" asp-for="Car.AirBags" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Car.Technology" class="control-label">Technology</label>
                        <input type="text" asp-for="Car.Technology" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Car.Economy" class="control-label">Economy</label>
                        <input type="number" asp-for="Car.Economy" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Car.FuelType" class="control-label">Fuel Type</label>
                        <input type="text" asp-for="Car.FuelType" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Car.Power" class="control-label">Power</label>
                        <input type="number" asp-for="Car.Power" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Car.Seats" class="control-label">Seats</label>
                        <input type="number" asp-for="Car.Seats" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Car.Capity" class="control-label">Capity</label>
                        <input type="number" asp-for="Car.Capity" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Car.ProductYear" class="control-label">Product Year</label>
                        <input type="number" asp-for="Car.ProductYear" class="form-control" required />
                    </div>





                    @await Component.InvokeAsync(nameof(FileInput), new FileInputParams() { Accept = "jpg" })

                    <hr class="mb-4">
                    <div class="row  justify-content-lg-around">
                        <div class="col-5 p-0">
                            <a href="@Url.Action("Car", "Car", new { id = Model.Car.CarID })" class="btn btn-outline-danger btn-block">Cancel</a>
                        </div>
                        <div class="col-5 p-0">
                            <button class="btn btn-outline-success d-inline btn-block" type="submit">Send</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</selection>