﻿@model IEnumerable<Car>

@{
    ViewData["Title"] = "Cars";
}

<section>
    <div class="container-fluid p-0">
        <div class="row">
            <table class="table table-striped text-center ">
                <thead>
                    <tr>

                        <th>Logo</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var br in @Model)
                    {
                    <tr>
                        <td>
                            <img class="mt-2" style="max-height:25px" src="~/@Html.GetPhotoCar(br.CarID)" alt="@br.Name" />
                        </td>
                        <td class="align-middle">
                            @br.Name
                        </td>
                        <td class="align-middle">
                            @br.Brand.Name
                        </td>
                        <td class="align-middle">
                            @br.Type
                        </td>
                        <td class="align-middle">
                            @br.PriceDay.ToString("0.00") / day <br />
                            @br.PriceHour.ToString("0.00") / hour
                        </td>
                        <td class="align-middle">
                            <a href="@Url.Action("Edit", "Car", new { id = br.CarID })" class="btn btn-outline-success">Edit</a>
                        </td>
                        <td class="align-middle">
                            <form asp-action="Delete" asp-area="Admin" asp-route-id="@br.CarID" method="post" onsubmit="return confirm('Do you want to remove the car?');" class="d-inline">
                                <input type="submit" class="btn  btn-outline-danger" value="Delete" />
                            </form>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>