﻿@model IEnumerable<CarSharing.Models.Identity.Role>

    <h2>List roles</h2>
    <table class="table">
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td class="">
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="float-right btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <a asp-action="Create" class="btn btn-outline-success">Add role</a>
