﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/style/bundle.min.css" />
    @RenderSection("includeCSS", false)
    <script src="~/javascript/bundle.min.js"></script>
    @RenderSection("IncludeJS", false)

</head>
<body> 
    <style>
        .flex-grow {
            flex: 1 0 auto;
        }
    </style>
    <div class="container-fluid d-flex flex-column h-100">
        <header>          
            <div class="row " style=" background-color:#343a40;">
                @await Html.PartialAsync("_Header")               
            </div>
        </header>
        <div class="row d-flex flex-row  bd-highlight  flex-grow">
            <div class="col-lg-2 col-md-4 shadow">
                @await Html.PartialAsync("_Menu")
            </div>
            <div class="col-lg-10 col-md-8">              
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>