﻿<div class="col-lg-2 col-md-4 shadow d-flex pl-5 navbar-expand-lg h-100 p-2" >
    <a href="@Url.Action("Index", "Home")" class="navbar-brand d-flex align-items-center"  style="color:white;">
        <i id="iconcollapse" class="fa fas fa-car fa-sm mr-2" aria-hidden="true"></i>
        <strong>CPanel</strong>
    </a>
</div>
<div class="col-lg-10 col-md-8 d-flex justify-content-end">
    <a href="/" class=" d-flex align-items-center btn" style="color:white;">
        <i id="iconcollapse" class="fa fas fa-arrow-circle-left fa-sm mr-2" aria-hidden="true"></i>
        <strong>Back to site</strong>
    </a>
</div>