﻿<style>
  .navbar-nav > li > a, .navbar-brand {
     font-weight:300;
}
</style>

<nav class="navbar-light  p-3 pl-4">

    <ul class="navbar-nav flex-column">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Home", new { Area = "Admin" })" class="nav-link @Html.IsSelected(actions: "Index", controllers: "Home", areas: "Admin", cssClass: "active")">
                <img src="~/images/icons/admin/home-run.png" style="height:16px; width: 16px;" class="mr-2" />
                <strong>Main page</strong>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("List", "Call", new { Area = "Admin" })" class="nav-link @Html.IsSelected(actions: "List", controllers: "Call", areas: "Admin", cssClass: "active")">
                <img src="~/images/icons/admin/phone.png" style="height:16px; width: 16px;" class="mr-2" />
                <strong>Required call</strong>
            </a>
        </li>
    </ul>
    <hr class="mr-3" />


    <div class="row pt-5">
        <hr style="width: 30%;" />
        <i id="iconcollapse" class="fa fa-car fa-fw pt-2" aria-hidden="true"></i>
        <hr style="width: 30%;" />
    </div>
    <ul class="navbar-nav flex-column">
        <li class="nav-item">
            <a href="@Url.Action("List", "Car", new { Area = "Admin" })" class="nav-link @Html.IsSelected(actions: "List", controllers: "Car", areas: "Admin", cssClass: "active")">
                <img src="~/images/icons/admin/list (1).png" style="height:16px; width: 16px;" class="mr-3" />
                <strong>Cars</strong>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Add", "Car", new { Area = "Admin" })" class="nav-link @Html.IsSelected(actions: "Add", controllers: "Car", areas: "Admin", cssClass: "active")">
                <i id="iconcollapse" class="fa fa-plus fa-fw mr-2" aria-hidden="true"></i>
                <strong>Add car</strong>
            </a>
        </li>
    </ul>

    <div class="row pt-5">
        <hr style="width: 30%;" />
        <i id="iconcollapse" class="fa fa-apple fa-fw pt-2" aria-hidden="true"></i>
        <hr style="width: 30%;" />
    </div>
    <ul class="navbar-nav flex-column">
        <li class="nav-item">
            <a href="@Url.Action("List", "Brand", new { Area = "Admin" })" class="nav-link @Html.IsSelected(actions: "List", controllers: "Brand", areas: "Admin", cssClass: "active")">
                <img src="~/images/icons/admin/list (1).png" style="height:16px; width: 16px;" class="mr-3" />
                <strong>Brands</strong>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Add", "Brand", new { Area = "Admin" })" class="nav-link @Html.IsSelected(actions: "Add", controllers: "Brand", areas: "Admin", cssClass: "active")">
                <i id="iconcollapse" class="fa fa-plus fa-fw mr-2" aria-hidden="true"></i>
                <strong>Add brand</strong>
            </a>
        </li>
    </ul>

    <div class="row pt-5">
        <hr style="width: 30%;" />
        <i id="iconcollapse" class="fa fa-users fa-fw pt-2" aria-hidden="true"></i>
        <hr style="width: 30%;" />
    </div>
    <ul class="navbar-nav flex-column">
        <li class="nav-item">
            <a href="@Url.Action("List", "User", new { Area = "Admin" })" class="nav-link @Html.IsSelected(actions: "List", controllers: "User", areas: "Admin", cssClass: "active")">
                <img src="~/images/icons/admin/list (1).png" style="height:16px; width: 16px;" class="mr-3" />
                <strong>Users</strong>
            </a>
        </li>
    </ul>

    <div class="row pt-5">
        <hr style="width: 30%;" />
        <i id="iconcollapse" class="fa fa-share-alt fa-fw pt-2" aria-hidden="true"></i>
        <hr style="width: 30%;" />
    </div>
    <ul class="navbar-nav flex-column">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Roles", new { Area = "Admin" })" class="nav-link @Html.IsSelected(actions: "Index", controllers: "Roles", areas: "Admin", cssClass: "active")">
                <img src="~/images/icons/admin/list (1).png" style="height:16px; width: 16px;" class="mr-3" />
                <strong>Roles</strong>
            </a>
        </li>
    </ul>

    <div class="row pt-5">
        <hr style="width: 30%;" />
        <img src="~/images/icons/admin/logistics.png" style="height:16px; width: 16px;"/>
        <hr style="width: 30%;" />
    </div>
    <ul class="navbar-nav flex-column">
        <li class="nav-item">
            <a href="@Url.Action("All", "Order", new { Area = "Admin" })" class="nav-link @Html.IsSelected(actions: "All", controllers: "Order", areas: "Admin", cssClass: "active")">
                <img src="~/images/icons/admin/list (1).png" style="height:16px; width: 16px;" class="mr-3" />
                <strong>All orders</strong>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("WaitCheck", "Order", new { Area = "Admin" })" class="nav-link @Html.IsSelected(actions: "WaitCheck", controllers: "Order", areas: "Admin", cssClass: "active")">
                <img src="~/images/icons/profile/list.png" style="height:16px; width: 16px;" class="mr-3" />
                <strong>Wait check</strong>
            </a>
        </li>
    </ul>
</nav>

