﻿@{
    ViewData["Title"] = "Add new brand";
}

<selection>

    <div class="container">
        <div class="py-5 text-center">
            <h2>Add new brand</h2>
        </div>

        <div class="row">

            <div class="col-md-12 order-md-1">

                <form asp-action="Add" asp-controller="Brand" asp-area="Admin" method="post" enctype="multipart/form-data">

                    <div class="col-md-12 mb-6 p-0">
                        <label>Brand:</label><br />
                        <input type="text" class="form-control" name="Brand.Name" required />
                    </div>

                    @await Component.InvokeAsync(nameof(FileInput), new FileInputParams() { Accept = "png" })

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
</selection>