﻿@model Brand
@{
    ViewData["Title"] = "Edit " + Model.Name;
}

<selection>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-12 col-md-8 col-lg-2 text-center">
                <img class="img-fluid mh-100 mb-2" src="~/@Html.GetPhotoBrand(@Model.BrandID)" alt="@Model.Name" />
            </div>

            <div class="col-sm-12 col-md-8 col-lg-10">
                <form asp-action="Edit" asp-controller="Brand" asp-area="Admin" asp-route-id="@Model.BrandID" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="BrandID" />

                    <div class="row">
                        <div class="col-md-12 mb-6 p-0">
                            <label asp-for="Name" class="control-label">Name</label>
                            <input type="text" asp-for="Name" class="form-control" required />
                        </div>
                        @await Component.InvokeAsync(nameof(FileInput), new FileInputParams() { Accept = "png" })
                    </div>
                    <hr class="mb-4">
                    <div class="row  justify-content-lg-around">
                        <div class="col-5 p-0">
                            <a href="@Url.Action("List", "Brand")" class="btn btn-outline-danger btn-block">Cancel</a>
                        </div>
                        <div class="col-5 p-0">
                            <button class="btn btn-outline-success d-inline btn-block" type="submit">Send</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</selection>
