﻿@model IEnumerable<Brand>

@{
    ViewData["Title"] = "Brands";
}

<section>
    <div class="container-fluid p-0">
        <div class="row">
            <table class="table table-striped text-center ">
                <thead>
                    <tr>

                        <th>Logo</th>
                        <th>Name</th>
                        <th>Cars</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody> 
                    @foreach (var br in @Model)
                    {
                        <tr>
                            <td>
                                <img class="mt-2" style="max-height:25px" src="~/@Html.GetPhotoBrand(br.BrandID)" alt="@br.Name" />
                            </td>
                            <td class="align-middle">
                                @br.Name
                            </td>
                            <td class="align-middle">
                                @br.Cars.Count()
                                
                            </td>
                            <td class="align-middle">
                                <a href="@Url.Action("Edit", "Brand", new { id = br.BrandID })" class="btn btn-outline-success">Edit</a>
                            </td>
                            <td class="align-middle">
                                <form asp-action="Delete" asp-area="Admin" asp-route-id="@br.BrandID" method="post" onsubmit="return confirm('Do you want to remove the brand?');" class="d-inline">
                                    <input type="submit" class="btn  btn-outline-danger" value="Delete" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>