﻿@model Car
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Car order"].Value + " " + Model.Brand.Name + " " + Model.Name;
}

<link rel="stylesheet" href="~/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" />
<script type="text/javascript" src="~/moment/moment.js"></script>
<script type="text/javascript" src="~/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#order-but").click(function () {
            $(this).removeClass("btn-outline-primary").addClass("btn-primary");
            $(this).next().removeClass("btn-primary").addClass("btn-outline-primary");

            $('#button-send-order').css('display', 'block');
            $('#button-send-reserve').css('display', 'none');
            $('#block-payment').css('display', 'block');
             $('#block-reserve-info').css('display', 'none');

            $('.payment-radio').prop('disabled', false);

            $('#datetimepicker7').datetimepicker('minDate', moment());
            countingAmount();

            $('#typeOrder').val("order");
        });

        $("#reserve-but").click(function () {
            $(this).removeClass("btn-outline-primary").addClass("btn-primary");
            $(this).prev().removeClass("btn-primary").addClass("btn-outline-primary");

             $('#button-send-order').css('display', 'none');
             $('#button-send-reserve').css('display', 'block');
            $('#block-payment').css('display', 'none');
            $('#block-reserve-info').css('display', 'block');
             $('.payment-radio').prop('disabled', true);

            $('#datetimepicker7').datetimepicker('minDate', moment().add(36, 'hours'));
            countingAmount();

            $('#typeOrder').val("reserve");
        });


        $('#datetimepicker7').datetimepicker({
            format: 'DD.MM.YYYY HH:mm',
            locale: 'ru',
            defaultDate: moment().add(2, 'days')
        });

        $('#datetimepicker8').datetimepicker({
            format: 'DD.MM.YYYY HH:mm',
             locale: 'ru',
            defaultDate: moment().add(9, 'days')
        });

        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            countingAmount();
        });

        $("#datetimepicker8").on("change.datetimepicker", function (e) {
             countingAmount();
        });

        $('#tarif-hours').change(function() {
            countingAmount();


        });

        $('#tarif-days').change(function() {
            countingAmount();
        });


        function countingAmount() {
            $('#datetimepicker8').datetimepicker('minDate', $('#datetimepicker7').datetimepicker('viewDate'));
            $('#datetimepicker7').datetimepicker('maxDate', $('#datetimepicker8').datetimepicker('viewDate'));

            dateStart = $('#datetimepicker7').datetimepicker('viewDate');
            dateFinish = $('#datetimepicker8').datetimepicker('viewDate');
            dif = dateFinish - dateStart;

            if ($('#tarif-hours').is(':checked')) {
                countH = Math.ceil(dif / (1000 * 60 * 60));

                $('#rental-time-title').text('@Localizer["Number of hours"]:');
                $('#rental-time').val(countH);
                $('#rentalTimeHid').val(countH);
                $('#total-amount').val((countH * '@Model.PriceHour'.replace(',','.')).toFixed(2));
                $('#unitCostHid').val('@Model.PriceHour'.replace('.',','));
                $('#TotalCost').val($('#total-amount').val().replace('.',','));
            }
            else {
                countD = Math.ceil(dif / (1000 * 60 * 60 * 24));

                $('#rental-time-title').text('@Localizer["Number of days"]:');
                $('#rental-time').val(countD);
                $('#rentalTimeHid').val(countD);

                $('#total-amount').val((countD * '@Model.PriceDay'.replace(',', '.')).toFixed(2));
                $('#unitCostHid').val('@Model.PriceDay'.replace('.',','));
                $('#TotalCost').val($('#total-amount').val().replace('.',','));
            }

            var datetimestart = $('#datetimepicker7').datetimepicker('viewDate').format('DD.MM.YYYY HH:mm');
            var datetimefinish = $('#datetimepicker8').datetimepicker('viewDate').format('DD.MM.YYYY HH:mm');

            $('#datetimeStart').val(datetimestart);

            var checkFreeCar = $.post('/Order/checkFreeTime/', {
                start: datetimestart,
                finish: datetimefinish,
                carId: @Model.CarID
                },
                function (data) {
                    if (data) {
                        $('#busyCar').css('display', 'none');
                        $('#freeCar').css('display', 'block');
                    }
                    else {
                         $('#freeCar').css('display', 'none');
                        $('#busyCar').css('display', 'block');
                    }
                });
        }

        countingAmount();
        $('#datetimepicker7').datetimepicker('minDate', moment());
    });
</script>

<div class="container">
    <div class="row justify-content-center my-3">
        <h2>@Localizer["Car rental order"]</h2>
    </div>
    <form asp-action="Car" asp-controller="Order" method="post" enctype="multipart/form-data">

        <input type="hidden" name="Order.CarId" value="@Model.CarID" />
        <input type="hidden" id="unitCostHid" name="Order.UnitCost" value="@Model.PriceDay" />
        <input id="typeOrder" type="hidden" name="Order.TypeOrder" value="order" />
        <input id="TotalCost" type="hidden" name="Order.TotalCost" value="cost" />

        <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"></div>


        <div class="row">
            <div class="col-3">
                <img class="img-fluid vw-100 mb-2 rounded" src="~/@Html.GetPhotoCar(@Model.CarID)" alt="@Model.Name" />
            </div>
            <div class=" col-9 d-flex  justify-content-between flex-column">
                <div class="d-flex flex-column">
                    <h2>@Model.Brand.Name</h2>
                    <h4>@Model.Name</h4>
                </div>


                <div class=" btn-group mb-2 " role="group">
                    <button id="order-but" type="button" class="btn btn-primary col-6">@Localizer["Order"]</button>
                    <button id="reserve-but" type="button" class="btn btn-outline-primary col-6">@Localizer["Reservation"]</button>
                </div>
            </div>

        </div>



        <div class="row">
            <div class="col-sm-12 col-md-4 p-0 pt-3">
                <div class="row py-2">
                    <h5 class="col-12 ">@Localizer["Rate"]:</h5>
                    <div class="pl-5 py-2">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="tarif-hours" name="Order.Tariff" value="tarif-hours" class="custom-control-input">
                            <label class="custom-control-label" for="tarif-hours">@Localizer["Horary"] (<b>@Model.PriceHour$</b>)</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="tarif-days" name="Order.Tariff" value="tarif-days" class="custom-control-input" checked>
                            <label class="custom-control-label" for="tarif-days">@Localizer["Daily"] (<b>@Model.PriceDay$</b>)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5 class="col-12">@Localizer["Rental time"]:</h5>
                    <div class="pl-5 py-2">
                        <div class="form-group">
                            @Localizer["Start"]:
                            <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                                <input type="text" name="Order.DatetimeStartOrder" class="form-control datetimepicker-input" data-target="#datetimepicker7" />
                                <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Localizer["Finish"]:
                            <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                                <input type="text" name="Order.DatetimeFinishOrder" class="form-control datetimepicker-input" data-target="#datetimepicker8" />
                                <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div id="freeCar" style="color:green; display:none">
                            @Localizer["Car is free at selected time"]
                        </div>
                        <div id="busyCar" style="color:red; display:none">
                            @Localizer["The car is busy at the selected time"]
                        </div><br />

                        @await Component.InvokeAsync("FreeDays", new { id = @Model.CarID })
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 p-0 pt-3">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">@Localizer["FirstName"]</label>
                        <input type="text" class="form-control" id="firstName" name="Order.FirstName" placeholder="" value="" required="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">@Localizer["LastName"]</label>
                        <input type="text" class="form-control" id="lastName" name="Order.LastName" placeholder="" value="" required="">
                    </div>
                </div>
                <div id="block-reserve-info" style="color:red;display:none;">
                    @Localizer["Reservations are automatically canceled if there is no payment 24 hours before the start of the rental."]
                </div>
                <div id="block-payment">
                    <hr class="mb-4">

                    <h4 class="mb-3">@Localizer["Payment"]</h4>
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="Order.PaymentType" value="credit-cart" type="radio" class="payment-radio" checked="" required="">
                            <label class="payment-radio-label" for="credit">@Localizer["Credit card"]</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debit" name="Order.PaymentType" value="cash" type="radio" class="payment-radio" required="">
                            <label class="payment-radio-label" for="debit">@Localizer["Cash"]</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-12">
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed align-items-center">
                        <span id="rental-time-title"></span>
                        <input type="text" readonly class="text-muted form-control-plaintext  text-right" style="outline:none; font-weight:700;  width:100px" name="Order.RentalTime" id="rental-time" value="">
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed align-items-center">
                        <span>@Localizer["Total amount"]:</span>
                        <input type="text" readonly class="text-muted form-control-plaintext  text-right" style="outline:none; font-weight:700; width:100px" id="total-amount" value="">
                    </li>
                </ul>
            </div>

        </div>

        <div class="custom-control custom-checkbox pt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck1" required>
            <label class="custom-control-label" for="customCheck1">@Localizer["I agree with the rules"]</label>
        </div>

        <div class=" pt-3 row p-0 justify-content-between">
            <div class="col-3 p-1">
                <a href="@Url.Action("Car", "Car", new { id = @Model.CarID })" class="btn btn-danger btn-block">@Localizer["Back"]</a>
            </div>
            <div id="button-send-order" class="col-9 p-1">
                <button type="submit" class="btn btn-success btn-block">@Localizer["Rent"]</button>
            </div>
            <div id="button-send-reserve" class="col-9 p-1" style="display:none">
                <button type="submit" class="btn btn-success btn-block">@Localizer["Make a reservation"]</button>
            </div>
        </div>
    </form>
</div>

