﻿@model Car
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Car order"].Value + " " + Model.Brand.Name + " " + Model.Name;
}


<link rel="stylesheet" href="~/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" />
<script type="text/javascript" src="~/moment/moment.js"></script>
<script type="text/javascript" src="~/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="~/style/ionicons.min.css">
<style>
    .form-order {
        padding: 20px 0;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }

    .this-top {
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        color: rgba(43, 46, 74, 0.75);
        margin-top: 5px;
        margin-bottom: 20px;
    }

    h5, .h5 {
        font-size: 14px;
    }

    .this-top a {
        color: #f77d0a;
        font-weight: bold;
        text-decoration: underline;
    }

    .this-top + .this-top {
        margin-bottom: 28px;
    }

        .this-top + .this-top a {
            color: #1ccc8b;
        }

    .form-order .form-group {
        margin-bottom: 20px;
    }

    .form-order .this-label {
        margin: 0 0 6px;
        line-height: 1;
        font-family: "Open Sans", sans-serif;
        color: rgba(43, 46, 74, 0.75);
    }


    .form-order .form-control {
        height: 50px;
        padding: 5px 20px;
        border-radius: 0;
        box-shadow: none;
        color: rgba(43, 46, 74, 0.6);
        border-color: #f3f3f3;
        font-size: 14px;
    }

    .form-order .this-label span {
        color: #1ccc8b;
    }

    .form-order #create-account {
        display: none;
    }

        .form-order #create-account + label {
            padding-left: 25px;
            line-height: 16px;
            font-family: "Open Sans", sans-serif;
            color: rgba(43, 46, 74, 0.75);
            margin: 0;
            font-weight: normal;
            position: relative;
        }

            .form-order #create-account + label:before {
                width: 16px;
                height: 16px;
                border: 1px solid;
                border-color: #2b2e4a;
                opacity: 0.45;
                margin-left: -25px;
            }

            .form-order #create-account + label:before, .form-order #create-account + label:after {
                content: '';
                float: left;
            }

            .form-order #create-account + label:after {
                width: 12px;
                height: 12px;
                border: none;
                position: absolute;
                top: 2px;
                left: 2px;
                background: #2b2e4a;
                opacity: 0;
                transition: all 300ms linear 0s;
            }

            .form-order #create-account + label:before, .form-order #create-account + label:after {
                content: '';
                float: left;
            }

        .form-order #create-account:checked + label:after {
            opacity: 1;
        }

    select.form-control option {
        font-size: 17px;
    }

    body, .form-order {
        background-color: #f9f9f9;
    }

    .m0 {
        margin: 0;
    }



    .your-order .this-heading {
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        font: 800 16px/60px "Lato", sans-serif;
        margin: 0;
        color: #fff;
        background: #2b2e4a;
        position: relative;
    }

        .your-order .this-heading:after {
            content: '';
            width: 50%;
            height: 60px;
            background: url(/images/car-detail/order.png) no-repeat scroll right center;
            position: absolute;
            top: 0;
            right: 0;
        }

    .order-data {
        margin: 0;
        background: #fff;
        padding: 28px 34px 20px;
    }

        .order-data .media .media-left {
            padding-right: 0;
        }

        .order-data .media .media-body {
            text-align: right;
            font-family: "Open Sans", sans-serif;
            font-weight: 800;
            color: #2b2e4a;
        }

        .order-data .media .media-left span {
            white-space: nowrap;
            width: 140px;
            display: block;
            color: rgba(43, 46, 74, 0.3);
            font-size: 12px;
            font-family: "Open Sans", sans-serif;
            text-transform: uppercase;
        }

    .image-of-car {
        width: 100%;
    }

    .order-data .media .media-body {
        float: right;
        text-align: right;
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
        color: #2b2e4a;
    }

    .order-data .media + .media {
        margin-top: 5px;
    }

    .order-data .media .media-left {
        padding-right: 0;
    }

    .other-infos-car {
        margin-top: 8px;
    }

        .other-infos-car li {
            color: rgba(43, 46, 74, 0.3);
            border-top: 1px solid;
            border-top-color: rgba(43, 46, 74, 0.05);
            font-size: 12px;
            font-family: "Open Sans", sans-serif;
            text-transform: uppercase;
            line-height: 45px;
            width: 100%;
        }

            .other-infos-car li span {
                font-family: "Open Sans", sans-serif;
                font-weight: 800;
                color: #2b2e4a;
                float: right;
                font-size: 14px;
            }

    .your-order .btn {
        border-radius: 0 !important;
    }

    .btn-primary {
        background: #f77d0a;
    }

    .form-order .btn, .form-order .bootstrap-select > .btn {
        border-radius: 50px;
        padding: 0 30px;
        line-height: 50px;
        display: inline-block;
        border: none;
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        text-shadow: none;
    }

    a:before, a:after, .btn:before, .btn:after, button:before, button:after {
        transition: all 300ms linear 0s;
    }

    .btn-primary:hover, .btn-primary:focus {
        background: #1c1e32;
    }

    .contact-back {
        color: rgba(43, 46, 74, 0.3);
        line-height: 2;
        margin: 0;
        font-family: "Open Sans", sans-serif;
    }

    h6, .h6 {
        font-size: 12px;
    }

    .straight-pay {
        color: rgba(43, 46, 74, 0.1);
        margin: 0 0 10px;
        line-height: 1;
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
        text-transform: uppercase;
    }

    h4, .h4 {
        font-size: 18px;
    }

    .choose-payment-method {
        padding: 18px 35px 35px;
        background: #fff;
    }

        .choose-payment-method label {
            width: 100%;
        }

    input[name="Order.PaymentType"]:checked + label {
        color: #f77d0a;
    }

    input[name="Order.PaymentType"] + label[for="payment-method01"] {
        line-height: 50px;
    }



    input[name="Order.PaymentType"] + label {
        color: rgba(43, 46, 74, 0.3);
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 12px;
        display: block;
        margin: 0;
        line-height: 30px;
    }

    input[name="Order.PaymentType"]:checked + label:before {
        content: "\f3a7";
    }

    input[name="Order.PaymentType"] + label:before {
        content: "\f3a6";
        float: left;
        font-size: 15px;
        font-family: "Ionicons";
        width: 16px;
    }

    input[name="Order.PaymentType"] + label a {
        float: right;
    }

    input[name="Order.PaymentType"] + label + article {
        margin-bottom: 25px;
        background: #f6f6f6;
        padding: 12px 18px;
        position: relative;
    }

        input[name="Order.PaymentType"] + label + article:before {
            content: '';
            width: 0;
            height: 0;
            border-bottom: 8px solid;
            border-bottom-color: #f6f6f6;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            position: absolute;
            top: -8px;
            left: 0;
        }

    .form-order .btn[type="submit"] {
        background: #1ccc8b;
        border-radius: 0;
    }

    .btn-primary:active, .btn-primary.active {
        background-color: #265a88 !important;
        border-color: #245580 !important;
    }


    .media.name-of-car, .media.image-of-car {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .form-block .this-navigation {
        max-width: 630px;
        margin: 15px auto 20px;
        background: #fff;
        border-radius: 50px;
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid #eee;
        counter-reset: my-badass-counter;
        padding: 0 50px;
    }

        .form-block .this-navigation li {
            width: 33%;
            text-align: center;
        }

            .form-block .this-navigation li a {
                padding: 0;
                line-height: 48px;
                font-family: "Open Sans", sans-serif;
                font-size: 12px;
                color: rgba(43, 46, 74, 0.3);
                text-decoration: none;
            }

            .form-block .this-navigation li.active a {
                color: #2b2e4a;
                background: none;
                font-weight: 700;
            }

            .form-block .this-navigation li a:before {
                content: counter(my-badass-counter) ". ";
                counter-increment: my-badass-counter;
            }

            .form-block .this-navigation li a:hover, .form-block .this-navigation li a:focus {
                color: #2b2e4a;
                background: none;
            }

    .free-car-block {
        width: 100%;
    }

        .free-car-block button {
            width: 14.285%;
        }

        .free-car-block .btn {
            border-radius: 4px !important;
            font-size: 12px;
            line-height: 42px;
        }

    .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .free-car-block .btn:not(:first-child) {
        border-left: 1px solid #eee;
    }
</style>


<script>

     function orderSend() {
            $('#typeOrder').val("order");
            submitForm();
        };

        function reserveSend() {
            $('#typeOrder').val("reserve");
            submitForm();
        };

    function submitForm() {
            if ($("#form-order").valid())
                $("#form-order").submit();
    };


    $(document).ready(function () {
        $('#tarif-selector').val('day');

        $('#tarif-selector').on('change', function () {
            if (this.value == "day") {
                $('.price-day').html('@Localizer["Price (per day)"] <span>$@Model.PriceDay.ToString("0.00")');
            }
            else {
                $('.price-day').html('@Localizer["Price (per hour)"] <span>$@Model.PriceHour.ToString("0.00")');
            }

            countingAmount();
        });

        $('#datetimepicker1').datetimepicker({
            format: 'DD.MM.YYYY HH:mm',
            locale: 'ru',
            defaultDate: moment().add(2, 'days')
        });

        $('#datetimepicker2').datetimepicker({
            format: 'DD.MM.YYYY HH:mm',
             locale: 'ru',
            defaultDate: moment().add(9, 'days')
        });

        $("#datetimepicker1").on("change.datetimepicker", function (e) {
            countingAmount();
        });

        $("#datetimepicker2").on("change.datetimepicker", function (e) {
             countingAmount();
        });

        function countingAmount() {
            $('#datetimepicker2').datetimepicker('minDate', $('#datetimepicker1').datetimepicker('viewDate'));
            $('#datetimepicker1').datetimepicker('maxDate', $('#datetimepicker2').datetimepicker('viewDate'));

            dateStart = $('#datetimepicker1').datetimepicker('viewDate');
            dateFinish = $('#datetimepicker2').datetimepicker('viewDate');
            dif = dateFinish - dateStart;

            if ($('#tarif-selector').val() == "hour") {
                countH = Math.ceil(dif / (1000 * 60 * 60));

                $('#rental-time-title').html('@Localizer["Number of hours"]: ' + '<span>' + countH + '</span>');
                $('#rental-time').val(countH);

                $('#total-amount').text((countH * '@Model.PriceHour'.replace(',', '.')).toFixed(2));

                 //hid
                $('#unitCostHid').val('@Model.PriceHour'.replace('.',','));
                $('#TotalCost').val($('#total-amount').text().replace('.', ','));
            }
            else {
                countD = Math.ceil(dif / (1000 * 60 * 60 * 24));

                $('#rental-time-title').html('@Localizer["Number of days"]: ' + '<span>' + countD + '</span>');
                $('#rental-time').val(countD);

                $('#total-amount').text((countD * '@Model.PriceDay'.replace(',', '.')).toFixed(2));

                //hid
                $('#unitCostHid').val('@Model.PriceDay'.replace('.', ','));
                $('#TotalCost').val($('#total-amount').text().replace('.', ','));
            }


            var datetimestart = $('#datetimepicker1').datetimepicker('viewDate').format('DD.MM.YYYY HH:mm');
            var datetimefinish = $('#datetimepicker2').datetimepicker('viewDate').format('DD.MM.YYYY HH:mm');

            $('#datetimepicker1').val(datetimestart);
            $('#datetimepicker2').val(datetimefinish);

            var checkFreeCar = $.post('/Order/checkFreeTime/', {
                start: datetimestart,
                finish: datetimefinish,
                carId: @Model.CarID
                },
                function (data) {
                    if (data) {
                        $('#busyCar').css('display', 'none');
                        $('#freeCar').css('display', 'block');
                    }
                    else {
                         $('#freeCar').css('display', 'none');
                        $('#busyCar').css('display', 'block');
                    }
                });
        }
         $('#datetimepicker1').datetimepicker('minDate', moment());
        countingAmount();
       
    });
</script>

<div class="container form-block">
    <ul class="nav nav-pills this-navigation nav-justified">
        <li><a href="@Url.Action("List", "Car")">@Localizer["Choose Car"]</a></li>
        <li class="active"><a href="@Url.Action("Car", new { id = Model.CarID })">@Localizer["Request info"]</a></li>
        <li><a style="cursor:no-drop">@Localizer["Confirm"]</a></li>
</ul>

    <form id="form-order" asp-action="Car" asp-controller="Order" method="post" enctype="multipart/form-data" class="row form-order">
        <input type="hidden" name="Order.CarId" value="@Model.CarID" />
        <input type="hidden" id="unitCostHid" name="Order.UnitCost" value="@Model.PriceDay" />
        <input id="typeOrder" type="hidden" name="Order.TypeOrder" value="order" />
        <input id="TotalCost" type="hidden" name="Order.TotalCost" value="cost" />
        <input type="hidden"  name="Order.RentalTime" id="rental-time" value=""/>

        <div class="col-sm-8">
            <h5 class="this-top d-none">Have a coupon? CLICK <a href="#">here</a> TO ENTER YOUR CODE</h5>
            <div class="row">
                <div class="form-group col-sm-12">
                    <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"></div>
                </div>
                <div class="form-group col-sm-6">
                    <h5 class="this-label">@Localizer["FirstName"] <span>*</span></h5>
                    <input type="text" class="form-control" name="Order.FirstName" required>
                </div>
                <div class="form-group col-sm-6">
                    <h5 class="this-label">@Localizer["LastName"] <span>*</span></h5>
                    <input type="text" class="form-control" name="Order.LastName" required>
                </div>
                <div class="form-group col-sm-6">
                    <h5 class="this-label">@Localizer["Email Address"] <span>*</span></h5>
                    <input type="text" class="form-control" name="Order.Mail" required>
                </div>
                <div class="form-group col-sm-6">
                    <h5 class="this-label">@Localizer["Phone"] <span>*</span></h5>
                    <input type="text" class="form-control" name="Order.Phone" required>
                </div>
                <div class="form-group col-sm-6">
                    <h5 class="this-label">@Localizer["Pickup Date"]</h5>
                    <input type="text" name="Order.DatetimeStartOrder" class="form-control datetimepicker-input" id="datetimepicker1" data-toggle="datetimepicker" data-target="#datetimepicker1" />
                    <div id="freeCar" style="color:green; display:none">
                        @Localizer["Car is free at selected time"]
                    </div>
                    <div id="busyCar" style="color:red; display:none">
                        @Localizer["The car is busy at the selected time"]
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <h5 class="this-label">@Localizer["Drop off Date"]</h5>
                    <input type="text" name="Order.DatetimeFinishOrder" class="form-control datetimepicker-input" id="datetimepicker2" data-toggle="datetimepicker" data-target="#datetimepicker2" />
                </div>
                <div class="form-group col-sm-12">
                    <h5 class="this-label">@Localizer["Free days info"]</h5>
                    @await Component.InvokeAsync("FreeDays", new { id = @Model.CarID })
                </div>

                <div class="form-group col-sm-6">
                    <h5 class="this-label">@Localizer["Rate"]</h5>
                    <select id="tarif-selector" class="form-control" name="Order.Tariff">
                        <option value="hour">@Localizer["Horary"] (@Model.PriceHour$)</option>
                        <option value="day">@Localizer["Daily"] (@Model.PriceDay$)</option>
                    </select>
                </div>

                <div class="form-group col-sm-12">
                    <h5 class="this-label">@Localizer["Order Note"]</h5>
                    <textarea rows="6" style="height: auto;" name="Order.Note" class="form-control"></textarea>
                </div>
                <div class="form-group col-sm-12">
                    <input type="checkbox" name="create-account" id="create-account" required>
                    <label for="create-account">@Localizer["I agree with the rules"]</label>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="your-order row m0">
                <h4 class="this-heading">@Localizer["Your Order"]</h4>
                <div class="row order-data">
                    <div class="media name-of-car">
                        <div class="media-left media-middle"><span>@Localizer["Name of car"]</span></div>
                        <div class="media-body">@Model.Brand.Name @Model.Name</div>
                    </div>
                    <div class="media image-of-car">
                        <div class="media-left media-bottom"><span>@Localizer["Image"]</span></div>
                        <div class="media-body"><img src="~/@Html.GetPhotoCar(@Model.CarID)" alt="" style="max-height: 60px;"></div>
                    </div>
                    <ul class="nav other-infos-car">
                        <li class="price-day">@Localizer["Price (per day)"] <span>$@Model.PriceDay.ToString("0.00")</span></li>
                        <li class="price-hour" style="display:none;">@Localizer["Price (per hour)"] <span>$@Model.PriceHour.ToString("0.00")</span></li>
                        <li id="rental-time-title">@Localizer["Number of days"]: </li>
                        <li>@Localizer["total cost"] <span id="total-amount">$55.00</span></li>
                    </ul>
                </div>
                    <button class="btn btn-primary btn-block" onClick='reserveSend()'>@Localizer["BOOK!"]</button>
</div>
            <h6 class="contact-back text-center">(@Localizer["You will need to confirm your reservation"])</h6>
            <h4 class="straight-pay text-center mt-4">@Localizer["Payment type"]</h4>
            <div class="row m0 choose-payment-method">
                <input type="radio" value="credit-cart" name="Order.PaymentType" id="payment-method01" class="sr-only" checked="" required="">
                <label for="payment-method01">@Localizer["Cash"] <a href="#"><img src="/images/car-detail/stripe.png" style="width: 60px; height: 30px;" alt=""></a></label>
                <article class="stripe">@Localizer["Payment must be made upon receipt of the car, in cash."]</article>
                <input type="radio" value="cash" name="Order.PaymentType" id="payment-method02" class="sr-only" required="">
                <label for="payment-method02">@Localizer["Credit card"] <a href="#"><img src="/images/car-detail/paypal.png" alt=""></a></label>
            </div>
            <input type="submit" onClick='orderSend()' value="@Localizer["PAY NOW!"]" class="btn btn-primary btn-block">
        </div>
    </form>
</div>  