﻿<div class="container h-100 d-flex align-items-center flex-column justify-content-center">
    <div class="row">
        <div class="col-12">

            <h2>@ViewBag.Info</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4><a asp-controller="Home" asp-action="Index">На главную</a></h4>
        </div>
    </div>
</div>
