﻿@model Order
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Order"].Value  + " №" + @Model.OrderId;
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center my-3">
            <h2>@Localizer["Order"] №@Model.OrderId</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            @Localizer["Car"]:
        </div>
        <div class="col-9">
            @Model.Car.Name @Model.Car.Brand.Name
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            @Localizer["Date/time order"]:
        </div>
        <div class="col-9">
            @Model.DateTimeOrder.ToString("dd.MM.yy HH:mm")
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            @Localizer["Date/time start rent"]:
        </div>
        <div class="col-9">
            @Model.DatetimeStartOrder.ToString("dd.MM.yy HH:mm")
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            @Localizer["Date/time finish rent"]:
        </div>
        <div class="col-9">
            @Model.DatetimeFinishOrder.ToString("dd.MM.yy HH:mm")
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            @Localizer["Payment type"]:
        </div>
        <div class="col-9">
            @(Model.PaymentType == "credit-cart" ? @Localizer["Credit cart"] : @Localizer["Cash"])
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            @Localizer["Tenant"]:
        </div>
        <div class="col-9">
            @Model.FirstName @Model.LastName
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            @Localizer["Tarif"]:
        </div>
        <div class="col-9">
            @(Model.Tariff == "tarif-hours" ? @Model.UnitCost + "$/"+@Localizer["Hour"].Value+" ("+@Localizer["Number of hours"].Value + ": " + @Model.RentalTime + ")"
: @Model.UnitCost + "$/"+@Localizer["Day"].Value+" ("+@Localizer["Number of days"].Value+ ": " + @Model.RentalTime + ")")
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            @Localizer["Total amount"]:
        </div>
        <div class="col-9">
            @Model.TotalCost$
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            @Localizer["Status"]:
        </div>
        <div class="col-9">
            @if (@Model.Status == "return-possible")
            {<p style="display:inline">@Localizer["Cancellation possible before"] @Model.DatetimeStartOrder.AddHours(-12).ToString("dd.MM.yy HH:mm")</p> }
        else if (@Model.Status == "return-impossible")
        { <p style="display:inline">@Localizer["Order waiting"]</p>}
    else if (@Model.Status == "performed")
    { <p style="display:inline">@Localizer["Order completed"]</p>}
    else if (@Model.Status == "canceled")
    { <p style="display:inline">@Localizer["Order cancelled"]</p>}
    else if (@Model.Status == "wait-approve")
    { <p style="display:inline">Ожидание подтверждения</p>}
    else if (@Model.Status == "in-progress")
    { <p style="display:inline">Выполняется</p>}
        </div>
    </div>

    <br />

    <a href="@(ViewBag.returnUrl != null ? ViewBag.returnUrl : @Url.Action("Index", "Profile"))" class="btn btn-outline-warning">@Localizer["Back"]</a>
    @if (@Model.Status == "return-possible")
    {
        <form asp-action="CanceledOrder" onsubmit="return confirm('@Localizer["Do you really want to cancel select order"].Value?');" style="display:inline;" method="post" enctype="multipart/form-data">
            <input type="hidden" name="Order.OrderId" value="@Model.OrderId" />
            <button type="submit" class="btn btn-outline-danger">@Localizer["Cancel the order"]</button>
</form>
    }
</div>


