﻿@model Order
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Payment reserve"].Value;
}
<div class="container">

    <h3 class="my-3" style="text-align:center">@Localizer["Payment reserve"] №@Model.OrderId</h3>
    <form asp-action="PaymentReserve" style="display:inline;" method="post" enctype="multipart/form-data">
        <input type="hidden" name="Order.OrderId" value="@Model.OrderId" />




        <div id="block-payment">
            <hr class="mb-4">

            <h4 class="mb-3">@Localizer["Payment type"]</h4>
            <div class="d-block my-3">
                <div class="custom-control custom-radio">
                    <input id="credit" name="Order.PaymentType" value="credit-cart" type="radio" class="payment-radio" checked="" required="">
                    <label class="payment-radio-label" for="credit">@Localizer["Credit cart"]</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="debit" name="Order.PaymentType" value="cash" type="radio" class="payment-radio" required="">
                    <label class="payment-radio-label" for="debit">@Localizer["Cash"]</label>
                </div>

            </div>
        </div>

        <a href="@Url.Action("Order", "Order", new { id = @Model.OrderId })" class="btn btn-outline-warning">@Localizer["Back"]</a>

        <button type="submit" class="btn btn-outline-success">@Localizer["Payment reserve"]</button>

    </form>
</div>