﻿@model Order
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Reserve"].Value + " №" + @Model.OrderId;
}

    <div class="container">
        <div class="row">
            <div class="col-12 text-center my-3">
                <h2>@Localizer["Reserve"] №@Model.OrderId</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3 font-weight-bold">
                @Localizer["Car"]:
            </div>
            <div class="col-9">
                @Model.Car.Name @Model.Car.Brand.Name
            </div>
        </div>
        <div class="row">
            <div class="col-3 font-weight-bold">
                @Localizer["Date/time order"]:
            </div>
            <div class="col-9">
                @Model.DateTimeOrder.ToString("dd.MM.yy HH:mm")
            </div>
        </div>
        <div class="row">
            <div class="col-3 font-weight-bold">
                @Localizer["Date/time start rent"]:
            </div>
            <div class="col-9">
                @Model.DatetimeStartOrder.ToString("dd.MM.yy HH:mm")
            </div>
        </div>
        <div class="row">
            <div class="col-3 font-weight-bold">
                @Localizer["Date/time finish rent"]:
            </div>
            <div class="col-9">
                @Model.DatetimeFinishOrder.ToString("dd.MM.yy HH:mm")
            </div>
        </div>
    
    <div class="row">
        <div class="col-3 font-weight-bold">
            @Localizer["Tenant"]:
        </div>
        <div class="col-9">
            @Model.FirstName @Model.LastName
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            @Localizer["Tarif"]:
        </div>
        <div class="col-9">
            @(Model.Tariff == "tarif-hours" ? @Model.UnitCost + "$/" + @Localizer["Hour"].Value + " (" + @Localizer["Number of hours"].Value + ": " + @Model.RentalTime + ")"
: @Model.UnitCost + "$/" + @Localizer["Day"].Value + " (" + @Localizer["Number of days"].Value + ": " + @Model.RentalTime + ")")
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            @Localizer["Total amount"]:
        </div>
        <div class="col-9">
            @Model.TotalCost$
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            @Localizer["Status"]:
        </div>
        <div class="col-9">
            @if (@Model.Status == "waiting-payment")
            {<p style="display:inline">@Localizer["Payment is expected (up to"]  @Model.DatetimeStartOrder.AddHours(-24).ToString())</p> }
        else if (@Model.Status == "canceled")
        { <p style="display:inline">@Localizer["Reservation canceled"]</p>}
        </div>
    </div>


    <br />

    <a href="@(ViewBag.returnUrl != null ? ViewBag.returnUrl : @Url.Action("Index", "Profile"))" class="btn btn-outline-warning">@Localizer["Back"]</a>
    <a href="@Url.Action("PaymentReserve", new { id = Model.OrderId })" class="btn btn-outline-success">@Localizer["Pay order"]</a>
    @if (@Model.Status == "waiting-payment")
    {
        <form asp-action="CanceledReserve" onsubmit="return confirm('@Localizer["Do you really want to cancel reserve"]?');" style="display:inline;" method="post" enctype="multipart/form-data">
            <input type="hidden" name="Order.OrderId" value="@Model.OrderId" />
            <button type="submit" class="btn btn-outline-danger">@Localizer["Cancel reservation"]</button>
        </form>
    }
</div>

