
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

footer {
    flex: 0 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.brands {
    flex: 1 1 auto;
}

.activecol i {
    transform: rotate(180deg);
}

#iconcollapse {
    transition: transform 1s ease-out;
}

.brandLine
{
    cursor: pointer;
}
