﻿@model IEnumerable<Order>
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Profile";
}

    <div class="container">

        <!-- <div class="row mt-3">
         <p>@Localizer["Authorized as"]: <b>@User.Identity.Name</b></p>
     </div>-->
        <div class="row mt-5">
            <div class="col-md-4 col-sm-12  mt-3">
                <div class="service-item">
                    <div class="row">
                        <div class="col-12 text-center mb-4">
                            <img src="~/images/icons/profile/clock.png" style="height: 150px; width: 150px;" />
                        </div>
                        <div class="col-12 text-center">
                            <a class="col-10 btn btn-outline-primary align-content-center" href="@Url.Action("UpcomingOrders")">@Localizer["Upcoming orders"]</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12  mt-3">
                <div class="service-item">
                    <div class="row">
                        <div class="col-12 text-center mb-4">
                            <img src="~/images/icons/profile/start.png" style="height: 150px; width: 150px;" />
                        </div>
                        <div class="col-12 text-center">
                            <a class="col-10 btn btn-outline-primary align-content-center" href="@Url.Action("PerformedOrders")">@Localizer["Completed orders"]</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-3">
                <div class="service-item">
                    <div class="row">
                        <div class="col-12 text-center mb-4">
                            <img src="~/images/icons/profile/cancel (2).png" style="height: 150px; width: 150px;" />
                        </div>
                        <div class="col-12 text-center">
                            <a class="col-10 btn btn-outline-primary align-content-center" href="@Url.Action("CanceledOrders")">@Localizer["Canceled orders"]</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
                <div class="service-item">
                    <div class="row">
                        <div class="col-12 text-center mb-4">
                            <img src="~/images/icons/profile/steering-wheel.png" style="height: 150px; width: 150px;" />
                        </div>
                        <div class="col-12 text-center">
                            <a class="col-10 btn btn-outline-primary align-content-center" href="@Url.Action("InProgressOrders")">В прогрессе</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
                <div class="service-item">
                    <div class="row">
                        <div class="col-12 text-center mb-4">
                            <img src="~/images/icons/profile/list.png" style="height: 150px; width: 150px;" />
                        </div>
                        <div class="col-12 text-center">
                            <a class="col-10 btn btn-outline-primary align-content-center" href="@Url.Action("WaitApproveOrders")">Ожидает проверки</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
                <div class="service-item">
                    <div class="row">
                        <div class="col-12 text-center mb-4">
                            <img src="~/images/icons/profile/personal-information.png" style="height: 150px; width: 150px;" />
                        </div>
                        <div class="col-12 text-center">
                            <a class="col-10 btn btn-outline-primary align-content-center" href="@Url.Action("Info")">Информация</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

