﻿@model User
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Личная информация";
}

    <div class="container">

        <div class="row mt-3">
            <p>@Localizer["Authorized as"]: <b>@User.Identity.Name</b></p>
        </div>

        <div class="form-group">
            <label>Имя</label>
            <input class="form-control" asp-for="FirstName" />
            <div style="color:red;">
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Фамилия</label>
            <input class="form-control" asp-for="LastName" />
            <div style="color:red;">
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
        <div class="form-group">
            <label>День рождения</label>
            <input class="form-control" asp-for="Birthday" />
            <div style="color:red;">
                <span asp-validation-for="Birthday"></span>
            </div>
        </div>
    </div>