﻿@model IEnumerable<Order>
@{
    ViewData["Title"] = @Localizer["Completed orders"];
}
@inject IViewLocalizer Localizer

<div class="container">
    <h2 class="my-3" style="text-align:center">@Localizer["Completed orders"]</h2>


    @if (@Model.Count() > 0)
    {
        <div class="row">
            <table id="tableCalls" class="table table-striped text-center ">
                <thead>
                    <tr>
                        <th>@Localizer["Order number"]</th>
                        <th>@Localizer["Date/time order"]</th>
                        <th>@Localizer["Date/time rent"]</th>
                        <th>@Localizer["Car"]</th>
                        <th>@Localizer["Payment type"]</th>
                        <th>@Localizer["More"]</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (Order item in @Model)
                    {

                        <tr>
                            <td class="align-middle">
                                @item.OrderId
                            </td>
                            <td class="align-middle">
                                @item.DateTimeOrder.ToString("dd.MM.yy HH:mm")
                            </td>
                            <td class="align-middle">
                                @item.DatetimeStartOrder.ToString("dd.MM.yy HH:mm") - @item.DatetimeFinishOrder.ToString("dd.MM.yy HH:mm")
                            </td>
                            <td class="align-middle">
                                @item.Car.Brand.Name @item.Car.Name
                            </td>
                            <td class="align-middle">
                                @(item.PaymentType == "credit-cart" ? @Localizer["Credit cart"] : @Localizer["Cash"])
                            </td>
                            <td class="align-middle">
                                <a href="@Url.Action("Order", "Order", new { id = item.OrderId, returnUrl =  $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}" })" class="btn btn-outline-warning">@Localizer["More"]</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    }
    else
    {

        <div class="row">
            <div class="col-12 text-center">
                <hr />
                <span style="text-align:center"><b>@Localizer["You have no perfect orders!"]</b></span>
                <hr />
            </div>
        </div>
    }
    <div class="row">
        <a href="@Url.Action("Index")" class="btn btn-outline-warning">@Localizer["Back"]</a>
    </div>
</div>