﻿@model IEnumerable<CarSharing.Models.Identity.User>
@{
    ViewBag.Title = "User list";
}

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Phone number</th>
        <th>Administrator</th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            <td>

                <div class="form-check">
                    @{
                        var result = await Component.InvokeAsync("CheckUserIsAdmin", new { user = user });
                       <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" @result  onclick="return false;"/> 
                    }
                </div>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>