﻿@inject IViewLocalizer Localizer
<style>
    .carousel-item {
        background-size: cover;
    }

    .carousel-caption {
        bottom: initial;
        top: 50%;
        transform: translateY(-50%);
    }

        .carousel-caption h2 {
            font-size: 2vw;
        }

        .carousel-caption a {
            margin-top: 25px;
            font-size: 1.2vw;
            color: white;
            padding: 15px;
            padding-right: 45px;
            padding-left: 45px;
            font-weight: 500;
        }

            .carousel-caption a:hover {
                color: white;
                font-weight: 700;
            }

        .carousel-caption p {
            font-size: 1vw;
        }


    .carousel.slide {
        z-index: 1;
    }
</style>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active ">
            <img class="d-block w-100" src="~/images/slide1n.jpg">
            <div class="carousel-caption">
                <h2 class="rn-fade-bottom mb-25">@Localizer["Quality Cars with Unlimited Miles"]</h2>
                <p class="rn-fade-bottom rn-caption-item-1 mb-35">@Localizer["Order a car when it’s convenient for you!"]</p>
                <a class="btn btn-warning btn-lg rn-fade-bottom rn-caption-item-3" href="@Url.Action("List", "Car")">@Localizer["Rent now"]</a>
</div>
        </div>
        <div class="carousel-item ">
            <img class="d-block w-100" src="~/images/slide2n.jpg">
            <div class="carousel-caption">
                <h2 class="rn-fade-bottom mb-25">@Localizer["Quality Cars with Unlimited Miles"]</h2>
                <p class="rn-fade-bottom rn-caption-item-1 mb-35">@Localizer["Order a car when it’s convenient for you!"]</p>
                <a class="btn btn-warning btn-lg rn-fade-bottom rn-caption-item-3" href="@Url.Action("List", "Car")">@Localizer["Rent now"]</a>
            </div>
        </div>
        <div class="carousel-item ">
            <img class="d-block w-100" src="~/images/slide3n.jpg">
            <div class="carousel-caption">
                <h2 class="rn-fade-bottom mb-25">@Localizer["Quality Cars with Unlimited Miles"]</h2>
                <p class="rn-fade-bottom rn-caption-item-1 mb-35">@Localizer["Order a car when it’s convenient for you!"]</p>
                <a class="btn btn-warning btn-lg rn-fade-bottom rn-caption-item-3" href="@Url.Action("List", "Car")">@Localizer["Rent now"]</a>
            </div>
        </div>
    </div>
</div>