﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
    .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
    .ToList();
}


<style>
    .footer {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        background-color: #2c2c2c;
         position: relative;
  padding-top: 75px;
  padding-bottom: 85px;
    }

    .border-white{
       border-width:  medium;
       border: 2px  double white;
    }


.footer-soc {
  margin-top: 64px;
}

.footer-soc__item {
  display: inline-block;
}

.footer-soc__link i:before{
    color: #fff !important;
}

.footer-soc__link {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 3px;
  margin-left: 2px;
  font-size: 14px;
  color: #cfcfcf;
  border-radius: 50%;
  background-color: #222;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
}

</style>
<footer class="footer text-muted shadow">
    <div class="container d-flex justify-content-between">
        <div class="m-0">
            @Localizer["tagline"]
            <div class="m-0 d-flex h-100     align-items-center">
                <div class="">@Localizer["lang"]:</div>
                <div class="d-inline-flex">
                    @foreach (var item in cultureItems)
                    {
                    <form id="SetLangForm" asp-controller="Home" asp-action="SetLanguage"
                          asp-route-returnUrl="@Context.Request.Path"
                          method="post" class="form-inline">
                        <input class="d-none" name="culture" value="@item.Value" />
                        <input style="height: 25px; width:25px;" class="my-auto footer-soc__link  @(requestCulture.RequestCulture.UICulture.Name.ToString() == item.Value ? "border-white" : "" ) ml-2" type="image" src="~/images/flag/@{ @item.Value }.png" alt="Submit" height="32" width="32" title="@item.Text">
                    </form>
                    }
                </div>
            </div>
        </div>


        <style>
            .footer-soc {
                margin-top: 0px;
            }

            .footer-soc__link .fa
            {
                margin-top: 11px !important;
            }

            .footer-soc__item :hover
            {
                background-color:red;
            }
        </style>


        
        <div class="m-0 h-100">
            <ul class="footer-soc list-unstyled">
                <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="fa fa-vk"></i></a></li>
                <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>

            @SharedLocalizer["carsharing"] 2019 &copy;
        </div>
    </div>




</footer>
