﻿@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@using CarSharing.Helpers


<style>

    @@media (max-width: 992px) {
        .navbar-collapse.collapse ul li a.btn {
            padding-left: 30px;
        }

        .navbar-collapse.collapse.show {
            position: absolute;
            top: 100%;
            right: 28px;
            min-width: 250px;
            background-color: #112E3B;
            text-align: left;
            z-index: 99;
            margin-right: 30px;
            border-radius: 5px;
        }

            .navbar-collapse.collapse.show ul li :hover {
                background-color: #0c1e27;
            }

            .navbar-collapse.collapse.show ul li a {
                padding-left: 30px;
            }

                .navbar-collapse.collapse.show ul li a.btn {
                    text-align: left;
                    padding: 5px;
                    padding-left: 30px;
                }

            .navbar-collapse.collapse.show ul li form .btn {
                display: block;
                padding-left: 30px;
                width: 100%;
                text-align: left;
            }
    }

    @@media (min-width: 992px) {
        .navbar-collapse.collapse ul li a.btn {
            display: block;
            margin-top: 6px;
            padding-top: 2px;
            padding-bottom: 2px;
            font-size: .875rem;
        }

        .navbar-collapse.collapse ul li {
            margin-left: 30px;
        }

        .navbar-collapse.collapse ul li form button {
            display: block;
            margin-top: 6px;
            padding-top: 2px;
            padding-bottom: 2px;
            font-size: .875rem;
        }
    }

    .navbar-toggler {
        right: 30px;
    }

    .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: white;
        text-decoration: none;
        font-size: .875rem;
    }

    .navbar-dark .navbar-toggler-icon {
        color: white;
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-dark .navbar-toggler {
        border-color: rgba(255,255,255, 1);
    }

    .main-menu {
        top: 0px;
        left: 0px;
        z-index: 3;
    }


    .main-page {
        background-color: #2c2c2c;
        position: relative;
    }
</style>

<header class="main-menu @(@Html.IsSelected(actions: "Index", controllers: "Home", cssClass:"true") == "true"?"position-absolute":"main-page")" style="width:100%; ">
    <div class="navbar navbar-dark  shadow-sm">
        <div class="container d-flex justify-content-between navbar-expand-lg">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand d-flex align-items-center" style="color:white">
                <img src="~/images/logonew.png" style="height:25px" />
            </a>

            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span style="color:white;" class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @if (@Html.IsSelected(actions: "Index", controllers: "Home") != "btn btn-warning")
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">@Localizer["main"]</a>
                        </li>
                    }
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Admin")">@Localizer["adminpanel"]</a>
                        </li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item">

                            <a class="nav-link @Html.IsSelected(actions: "Index", controllers: "Profile")" href="@Url.Action("Index", "Profile")">@Localizer["profile"]</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-controller="Account" asp-action="LogOff">
                                <button class="btn btn-outline-danger btn-sm " type="submit">@Localizer["logout"]</button>
                            </form>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link @Html.IsSelected(actions: "Login", controllers: "Account")" asp-controller="Account" asp-action="Login">@Localizer["login"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsSelected(actions: "Register", controllers: "Account")" asp-controller="Account" asp-action="Register">@Localizer["register"]</a>
                        </li>

                    }
                </ul>

            </div>

        </div>
    </div>
</header>

@if (@Html.IsSelected(actions: "Index", controllers: "Home", cssClass: "true") == "true")
{
    @await Html.PartialAsync("_Carousel")
}