﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/style/bundle.min.css" />
    @RenderSection("includeCSS", false)
    <script src="~/javascript/bundle.min.js"></script>
    @RenderSection("IncludeJS", false)
</head>
<body>
    @await Html.PartialAsync("_Header")

    <main role="main">
        @RenderBody()
    </main>

    @await Html.PartialAsync("_Footer")
</body>
</html>