﻿@model IEnumerable<Order>

@{
    ViewData["Title"] = "Wait check orders";
}

<section>
    <div class="container-fluid p-0">
        <div class="row">
            <table class="table table-striped text-center ">
                <thead>
                    <tr>

                        <th>Date time order</th>
                        <th>Start order</th>
                        <th>Finish order</th>
                        <th>Client</th>
                        <th>Car</th>
                        <th>Cost</th>
                        <th>Status</th>
                        <th>Order user</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var br in @Model)
                    {
                    <tr>
                        <td>
                            @br.DateTimeOrder
                        </td>
                        <td class="align-middle">
                            @br.DatetimeStartOrder
                        </td>
                        <td class="align-middle">
                            @br.DatetimeFinishOrder
                        </td>
                        <td class="align-middle">
                            @br.FirstName @br.LastName
                        </td>
                        <td class="align-middle">
                            @br.Car.Brand.Name @br.Car.Name
                        </td>
                        <td class="align-middle">
                            @br.TotalCost
                        </td>
                        <td class="align-middle">
                            @br.Status
                        </td>
                        <td class="align-middle">
                            @br.User.FirstName @br.User.LastName
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>