﻿@inject IViewLocalizer Localizer

<style type="text/css">

    .best-car-slider {
        background: #FEFEFE url(/images/bg-bestcar.png) 50% 100%;
        background-size: cover;
    }

    #recipeCarousel {
        overflow: hidden;
    }

    .carousel-inner.car {
        padding-bottom: 120px;
        padding-top: 100px;
    }

    .carousel-item-left .car-item.active img {
        display: none;
    }

    .carousel-item-right .car-item.active img {
        display: none;
    }

    .carousel-inner.car .carousel-item-right.active,
    .carousel-inner.car .carousel-item-next {
        transform: translateX(33.33%);
        transition-duration: 0.5s;
    }

    .carousel-inner.car .carousel-item-left.active,
    .carousel-inner.car .carousel-item-prev {
        transform: translateX(-33.33%);
        transition-duration: 0.5s;
    }

    .carousel-inner.car .carousel-item-right,
    .carousel-inner.car .carousel-item-left {
        transform: translateX(0);
    }

    .carousel-item .car-item img {
        max-width: 100%;
        height: 100px
    }

    .carousel-item.active .car-item.active img {
        position: relative;
        top: 20px;
        left: 20px;
        transform: scale(2);
        transition-duration: 0.5s;
    }


        .carousel-item.active .car-item.active img:hover {
            cursor: pointer;
            transform: scale(2.05);
        }

    .carousel-item-next .car-item.active img {
        display: inline;
    }

    .carousel-item-prev .car-item.active img {
        display: inline;
    }


    .carousel-inner.car .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {
        display: flex
    }

    .item-car {
        visibility: hidden;
    }

    .carousel-item-left .car-item .item-car {
        visibility: hidden !important;
    }

    .carousel-item-right .car-item .item-car {
        visibility: hidden !important;
    }

    .carousel-item.active .car-item.active .item-car {
        visibility: initial;
        display: block;
        position: relative;
        transform: translate(0px, 70px) !important;
        transition: visibility 0s, transform 0.3s linear;
        z-index: 100;
    }


    .slider-car-title {
        color: #222222;
        font-size: 24px;
        font-weight: 700;
    }

    .slider-price-value {
        color: #e3740e;
        font-weight: bolder;
        font-size: 16px;
    }


    .slider-subtitle {
        margin-bottom: 4px;
        color: #222222;
        font-size: 14px;
        text-transform: uppercase;
    }


    .slider-title {
        font-size: 40px;
    }

    .text-uppercase {
        text-transform: uppercase !important;
    }

    .slider-decor {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 2px;
        margin-top: 11px;
        margin-bottom: 30px;
        background-color: #e3740e;
    }
</style>



<section class="best-car-slider">
    <div class="container text-center my-3">



        <div class="slider-subtitle">@Localizer["CHOOSE YOUR DREAM CARS"]</div>
        <h2 class="slider-title text-uppercase">@Localizer["BEST OFFERS"]</h2>
        <div class="slider-decor"></div>
        <div class="row mx-auto my-auto">
            <div id="recipeCarousel" class="carousel car slide w-100" data-ride="carousel">
                <div class="carousel-inner car" role="listbox" style="overflow:initial">
                    <div id="1" class="carousel-item active ">
                        <div class="d-block col-4 car-item" onclick="location.href = '@Url.Action("Car", "Car", new { id = 1 })';" style="cursor:pointer;">
                            <img src="~/images//model//1.png">
                            <div class="item-car">
                                <div class="slider-car-title">Audi A8</div>
                                <div class="slider-price">Price: <strong class="slider-price-value">11.00$ / day</strong></div>
                            </div>
                        </div>
                    </div>
                    <div id="2" class="carousel-item">
                        <div class="d-block col-4 car-item" onclick="location.href = '@Url.Action("Car", "Car", new { id = 3 })';" style="cursor:pointer;">
                            <img src="~/images//model//3.png">
                            <div class="item-car">
                                <div class="slider-car-title">BMW 328i</div>
                                <div class="slider-price">Price: <strong class="slider-price-value">33.00$ / day</strong></div>
                            </div>
                        </div>
                    </div>
                    <div id="3" class="carousel-item">
                        <div class="d-block col-4  car-item" onclick="location.href = '@Url.Action("Car", "Car", new { id = 6 })';" style="cursor:pointer;">
                            <img src="~/images//model//6.png">
                            <div class="item-car">
                                <div class="slider-car-title">VW Golf 4</div>
                                <div class="slider-price">Price: <strong class="slider-price-value">13.22$ / day</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev" style="width:25%;"></a>
                <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next" style="width:25%;"></a>
            </div>
        </div>
    </div>
</section>






<script>
    $('#recipeCarousel').carousel({
        interval: 3000
    })

    var k = 0;

    $('.carousel.car .carousel-item').each(function () {

        k++;
        var next = $(this).next();

        if (!next.length) {
            next = $(this).siblings(':first');
        }

        next.children(':first-child').clone().appendTo($(this));

        if (next.next().length > 0) {
            next.next().children(':first-child').clone().appendTo($(this));


        }
        else {
            $(this).siblings(':first').children(':first-child').clone().appendTo($(this));

        }


        $(this).children().first().next().addClass('active');
        $(this).children().first().next().children().first().css('z-index', '20');

    });

</script>
