﻿@model IEnumerable<Brand>
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
    @{
    ViewData["Title"] = @Localizer["title"];
    }

    <style>
        .rn-section {
            padding: 90px 0 50px;
        }

        .rn-section-title {
            text-align: center;
            position: relative;
            z-index: 1;
            margin-bottom: 50px;
        }

            .rn-section-title .rn-title {
                font-weight: 700;
                font-size: 31px;
                font-size: 2.21429rem;
            }

        .rn-car-type {
            background-color: #fff;
            border: 1px solid #e9eff2;
            border-radius: 3px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            margin-bottom: 40px;
        }

            .rn-car-type a {
                display: block;
                padding: 18px;
                text-align: center;
                text-decoration: none;
            }

            .rn-car-type span.rn-car-type-icon {
                display: block;
                font-size: 32px;
                font-size: 2.28571rem;
                color: #112E3B;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }

            .rn-car-type span.rn-car-type-title {
                display: block;
                font-family: "Raleway", sans-serif;
                font-size: 17px;
                font-size: 1.21429rem;
                font-weight: 500;
                color: #526977;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }

            .rn-car-type:hover {
                background-color: #ffc107;
                border-color: #ffc107;
                color: #fff;
                -webkit-box-shadow: 0 0 25px rgba(0, 210, 49, 0.35);
                box-shadow: 0 0 25px rgba(0, 210, 49, 0.35);
                -webkit-transform: scale(1.25);
                transform: scale(1.25);
            }

                .rn-car-type:hover span.rn-car-type-icon {
                    color: #fff;
                }

                .rn-car-type:hover span.rn-car-type-title {
                    color: #fff;
                }

            .rn-car-type a {
                padding: 15px;
            }

            .rn-car-type span.rn-car-type-icon {
                font-size: 25px;
                font-size: 1.78571rem;
            }

            .rn-car-type span.rn-car-type-title {
                font-size: 14px;
                font-size: 1rem;
            }
    </style>
    <section class="rn-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Section Title-->
                    <div class="rn-section-title">
                        <h2 class="rn-title">@Localizer["Car by Types"]</h2>
                        <p>@Localizer["Choose the type of machine that is right for you!"]</p>
                    </div>

                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-2 col-6 col-md-4">
                    <!-- Car Category-->
                    <div class="rn-car-type">
                        <a href="@Url.Action("List", "Car" , new { type="Sedan" })">
                            <span class="rn-car-type-icon">
                                <i class="rni-car-type-sedan"></i>
                            </span>
                            <span class="rn-car-type-title">Sedan</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-6 col-md-4">
                    <!-- Car Category-->
                    <div class="rn-car-type">
                        <a href="@Url.Action("List", "Car" , new { type="Roadster" })">
                            <span class="rn-car-type-icon">
                                <i class="rni-car-type-roadster"></i>
                            </span>
                            <span class="rn-car-type-title">Roadster</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-6 col-md-4">
                    <!-- Car Category-->
                    <div class="rn-car-type">
                        <a href="@Url.Action("List", "Car" , new { type="Coupe" })">
                            <span class="rn-car-type-icon">
                                <i class="rni-car-type-coupe"></i>
                            </span>
                            <span class="rn-car-type-title">Coupe</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-6 col-md-4">
                    <!-- Car Category-->
                    <div class="rn-car-type">
                        <a href="@Url.Action("List", "Car" , new { type="Minivan" })">
                            <span class="rn-car-type-icon">
                                <i class="rni-car-type-minivan"></i>
                            </span>
                            <span class="rn-car-type-title">Minivan</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-6 col-md-4">
                    <!-- Car Category-->
                    <div class="rn-car-type">
                        <a href="@Url.Action("List", "Car" , new { type="Station Wagon" })">
                            <span class="rn-car-type-icon">
                                <i class="rni-car-type-statio-wagon"></i>
                            </span>
                            <span class="rn-car-type-title">Station Wagon</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <style>
        /*-- x counter Wrapper Start  --*/
        .x_counter_main_wrapper {
            float: left;
            width: 100%;
            padding-top: 100px;
            padding-bottom: 100px;
            background: url('../images/counto_img.jpg') 50% 0 repeat-y;
            background-position: center 0;
            background-size: cover;
            position: relative;
        }

        .x_counter_img_overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,0.8);
        }

        .x_counter_car_heading_wrapper {
            text-align: center;
        }

            .x_counter_car_heading_wrapper h4 {
                font-size: 14px;
                font-family: 'Lato', sans-serif;
                color: #ffc107;
                text-transform: uppercase;
            }

            .x_counter_car_heading_wrapper h3 {
                font-size: 30px;
                font-weight: 800;
                text-transform: uppercase;
                color: #ffffff;
                padding-top: 20px;
                position: relative;
            }

                .x_counter_car_heading_wrapper h3:after {
                    content: '';
                    position: absolute;
                    width: 100px;
                    border: 2px solid #ffc107;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                    left: 0;
                    right: 0;
                    bottom: -20px;
                    margin: 0px auto;
                }

            .x_counter_car_heading_wrapper p {
                padding-top: 40px;
                color: rgba(255, 255, 255, 0.56);
            }

        .x_cou_main_box_wrapper {
            float: left;
            width: 100%;
            text-align: center;
            margin-top: 50px;
            position: relative;
        }

        @@media (min-width: 992px) {
            .x_cou_main_box_wrapper:after {
                content: '';
                border: 1px solid #ffc107;
                width: 100px;
                position: absolute;
                right: -60px;
                top: 69px;
            }

            .x_cou_main_box_wrapper:before {
                content: '\f105';
                font-family: FontAwesome;
                position: absolute;
                right: -63px;
                top: 51px;
                color: #ffc107;
                font-size: 22px;
            }
        }

        .x_cou_main_box_wrapper_last:after, .x_cou_main_box_wrapper_last:before {
            display: none;
        }

        .x_icon {
            display: inline-block;
            width: 130px;
            height: 130px;
            line-height: 130px;
            text-align: center;
            border: 2px solid #ffc107;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            position: relative;
            overflow: hidden;
        }

            .x_icon:after {
                content: '';
                width: 135px;
                height: 135px;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                background: transparent;
                position: absolute;
                left: 500px;
                right: 500px;
                top: 500px;
                bottom: 500px;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -moz-transition: all 0.5s;
                transition: all 0.5s;
            }

        .x_cou_main_box_wrapper:hover .x_icon:after {
            background: #ffc107;
            left: -1px;
            right: -1px;
            top: -1px;
            bottom: -1px;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }

        .x_icon i:before {
            margin-left: 0;
            font-size: 43px;
            color: rgba(255, 255, 255, 0.53);
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }

        .x_cou_main_box_wrapper:hover .x_icon i:before {
            color: #ffffff;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }

        .x_cou_main_box_wrapper:hover .x_icon i {
            position: relative;
            z-index: 1;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }

        .x_cou_main_box_wrapper h5 {
            padding-top: 30px;
        }

            .x_cou_main_box_wrapper h5 a {
                font-size: 16px;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 600;
            }

                .x_cou_main_box_wrapper h5 span, .x_cou_main_box_wrapper h5 a:hover {
                    color: #ffc107;
                }

        .x_cou_main_box_wrapper p {
            padding-top: 25px;
            color: rgba(255, 255, 255, 0.72);
        }

    </style>

    <div class="x_counter_main_wrapper">
        <div class="x_counter_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="x_counter_car_heading_wrapper float_left">
                        <h4>@Localizer["Work Process"]</h4>
                        <h3>@Localizer["How it works?"]</h3>
                        <p>
                            @Localizer["Our site provides an opportunity to get a car for rent, in several stages"]
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="x_cou_main_box_wrapper">
                        <div class="x_icon">
                            <i class="flaticon-sedan-car-front"></i>
                        </div>
                        <h5><span>1.</span> <a href="#">@Localizer["CHOOSE A CAR"]</a></h5>
                        <p>@Localizer["Choose the most suitable car for you."]</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="x_cou_main_box_wrapper">
                        <div class="x_icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <h5><span>2.</span> <a href="#">@Localizer["SELECT TERM"]</a></h5>
                        <p>@Localizer["Choose the required car rental time."]</p>
                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="x_cou_main_box_wrapper x_cou_main_box_wrapper_last">
                        <div class="x_icon">
                            <i class="flaticon-emoticon-square-smiling-face-with-closed-eyes"></i>
                        </div>
                        <h5><span>3.</span> <a href="#">@Localizer["ENJOY THE RIDE"]</a></h5>
                        <p>@Localizer["Enjoy the ride with our car!"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--BEST OFFERS-->
    @await Html.PartialAsync("BestCarCarousel")


    <style>
        .show-all-car-sec {
            background-image: url(/images/bg-allcar.jpg);
        }
        /*-- x booking Wrapper Start --*/
        .x_booking_main_wrapper {
            padding-top: 70px;
            padding-bottom: 70px;
            background-color: rgba(123, 93, 0, 0.7);
        }

        .x_book_logo_heading_wrapper {
            position: relative;
        }




            .x_book_logo_heading_wrapper h3 {
                font-size: 30px;
                font-weight: 700;
                color: #ffffff;
            }

            .x_book_logo_heading_wrapper p {
                font-size: 18px;
                color: rgba(255, 255, 255, 0.85);
                padding-top: 5px;
            }

        .x_book_logo_wrapper {
            padding-top: 10px;
        }

        .x_book_logo_btn {
            padding-right: 50px;
        }

            .x_book_logo_btn li a {
                float: left;
                width: 190px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                background: #ffffff;
                border: 1px solid transparent;
                color: #111111;
                text-transform: uppercase;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
            }

                .x_book_logo_btn li a i {
                    font-size: 12px;
                    position: relative;
                    left: 5px;
                    top: -1px;
                }

                .x_book_logo_btn li a:hover {
                    background: transparent;
                    border: 1px solid #ffffff;
                    color: #ffffff;
                    text-transform: uppercase;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                    text-decoration: none;
                }

            .x_book_logo_btn ul {
                margin-top: 5px;
                padding: 0;
            }

                .x_book_logo_btn ul li {
                    list-style-type: none;
                }

    </style>
    <section class="show-all-car-sec">
        <div class="x_booking_main_wrapper float_left">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-9 col-md-9">
                        <div class="x_book_logo_heading_wrapper float_left">
                            <h3>@Localizer["Book a car for a trip right now!"]</h3>
                            <p>@Localizer["Enjoy the ride with us. We are for a comfortable ride."]</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="x_book_logo_btn float_left">
                            <ul>
                                <li>
                                    <a href="@Url.Action("List", "Car")">@Localizer["See All Cars"]<i class="fa fa-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .b-bnr-3 {
            padding-top: 70px;
            padding-bottom: 75px;
            color: #dea808;
            background-image: url("/images/carcall.png");
            background-size: initial;
            background-repeat: no-repeat;
            background-position: 100% 50%;
            text-align: center;
        }

        .b-bnr-3__title {
            font-size: 36px;
            font-weight: 700;
            color: #112E3B;
        }

        .b-bnr-3__info {
            margin-bottom: 45px;
            font-size: 18px;
            line-height: 1.333;
            color: #112E3B;
            ;
        }

        .btn-red {
            padding: 20px;
            border-color: #f3c33c;
            background-color: #f3c33c;
            text-transform: uppercase;
            border-radius: 0;
            color: #fff;
            font-weight:700
        }

          .btn-red:hover {
            
            background-color: #fabe18;
            
        }

          @@media (max-width: 992px) {
             .b-bnr-3 {
            background-image: none;
           
        }

          }
    </style>
    <section class="b-bnr-3 ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="b-bnr-3__title ui-tilte">@Localizer["Do you want to rent a car, but do not want to spend time on an order?"]</h2>
                    <div class="b-bnr-3__info">@Localizer["Call and our managers will place your order!"]</div>
                    <button type="button" class="b-bnr-3__btn btn btn-red" data-toggle="modal" data-target="#callModel">
                        @Localizer["callbutton"]
                    </button>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="callModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title" id="myModalLabel">@Localizer["requestcallback"]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <form id="order-call" enctype="multipart/form-data">
                        <div class="modal-body">

                            <div class="row">
                                <div class="input-group col-md-12 mb-3 pb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fas fa-phone"></i></span>
                                    </div>
                                    <input id="phone-number" class="form-control" placeholder="Phone Number" name="Call.PhoneNumber" required>
                                </div>
                                <div class="col-md-6 input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fas fa-user"></i></span>
                                    </div>
                                    <input id="nameForPhone" class="form-control" placeholder="@Localizer[" name"]" name="Call.Name" required>
                                </div>
                                <div class="col-md-6 input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fas fa-clock-o"></i></span>
                                    </div>
                                    <input id="time-phone" class="form-control" placeholder="@Localizer[" rightnow"]!" name="Call.DesiredTime">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">@Localizer["waitingcallbutton"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="modelOk">

    </div>

<style>
.vehicle-section-divider {
    border-top: 2px solid #434343;
  border-bottom: 1px solid #434343;
  padding: 8px 0;
  overflow: hidden;
}

.vehicle-section-divider .section-divider-content {
  position: relative;
}

.vehicle-section-divider .section-divider-content:before {
  border-top: dashed #ececec;
  width: 100%;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15px;
  z-index: 0;
}

.vehicle-section-divider .section-divider-content .vehicle-border {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-animation: s3-rotate 7s infinite linear;
          animation: s3-rotate 7s infinite linear;
  display: block;
}

.vehicle-section-divider .section-divider-content.ambulance img {
  position: relative;
  top: -15px;
}

@@-webkit-keyframes s3-rotate {
  from {
    -webkit-transform: translateX(105%);
  }
  to {
    -webkit-transform: translateX(-5%);
  }
}

.vehicle-multi-border {
  position: relative;
}

.vehicle-multi-border:before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  height: 12px;
  background-size: 30px;
}

.vehicle-multi-border.yellow-black:before {
  background-image: -webkit-linear-gradient(0deg, #ffcc00 15px, #333 0);
}

.vehicle-multi-border.top-less-12:before {
  top: -12px;
}

.vehicle-multi-border.blue-white:before {
  background-image: -webkit-linear-gradient(0deg, #2e93e4 15px, #fff 0);
}
.night-rider {
    background-color: #2C2C2C;
}
</style>

    <div class="vehicle-section-divider night-rider">
        <div class="contoiner-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-divider-content">
                        <div class="vehicle-border">
                            <img src="~/images//car.png" alt="car-item">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section includeJS
    {
    <script src="~/javascript/model-collapse.js"></script>
    <script src="~/javascript/order-call.js"></script>
    }
    @section includeCSS
    {
    <link rel="stylesheet" href="~/style/modal-сenter.css" />
    <link href="~/style/rentnow-icons.css" rel="stylesheet" />
    <link href="~/style/flaticon.css" rel="stylesheet" />
    <link href="~/style/main.css" rel="stylesheet" />
    }
