﻿@model IEnumerable<Car>
@inject IViewLocalizer Localizer

@foreach (var p in Model)
{
    <div class="col-lg-4 col-md-6 py-2">
        <div class="card h-100">
            <a href="@Url.Action("Car", "Car", new { id = p.CarID  })"><div class="card-img-top" style="height: 200px; background-image: url('@Html.GetPhotoCar(p.CarID)'); background-size: 100% 100%; background-repeat:no-repeat;" alt=""></div></a>


            <div class="card-body" style="display:block">
                <h4 class="card-title">
                    <a href="@Url.Action("Car", "Car", new { id = p.CarID  })">@p.Name</a>
                </h4>


                <span class="m-0" style="font-size:15pt"><b>@Localizer["from"] $@p.PriceHour.ToString("0.00")</b></span><span class="m-0" style="font-size:12pt">/@Localizer["hour"]</span><br />
                <!-- <span class="m-0" style="font-size:12pt"><b>$15 / @Localizer["час"]</b></span>
                <div class=" btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">час</button>
        <button type="button" class="btn btn-outline-secondary">@Localizer["day"]</button>
    </div>-->

                <p class="card-text pt-3">@p.Description</p>
            </div>

            <div class="card-footer text-right">
                <a href="@Url.Action("Car", "Car", new { id = p.CarID  })" class="btn btn-outline-success">@Localizer["show"]</a>
            </div>
        </div>
    </div>
}