﻿@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="~/style/bundle.min.css" />
    <script src="~/javascript/bundle.min.js"></script>
    <style>
    </style>
    <link rel="stylesheet" href="~/style/stylerc.css" />
</head>
<body>

    
    <header class="rn-header">

        <!-- Topbar-->
        <div class="rn-topbar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-5 col-lg-3">

                        <!-- Tobar Social-->
                        <ul class="rn-social">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-12 col-sm-7 col-lg-9">

                        <!-- Topbar Contact with Icon-->
                        <div class="rn-icon-contents">
                            <div class="rn-phone rn-icon-content">
                                <div class="rn-icon">
                                    <i class="lnr lnr-phone"></i>
                                </div>
                                <div class="rn-info">
                                    <ul>
                                        <li>(954)-944-1250</li>
                                        <li>(954)-944-1251</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rn-email rn-icon-content">
                                <div class="rn-icon">
                                    <i class="lnr lnr-envelope"></i>
                                </div>
                                <div class="rn-info">
                                    <ul>
                                        <li>support@example.coms</li>
                                        <li>sale@example.com</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rn-address rn-icon-content">
                                <div class="rn-icon">
                                    <i class="lnr lnr-map-marker"></i>
                                </div>
                                <div class="rn-info">
                                    <ul>
                                        <li>1425 Pointe Lane, Miami</li>
                                        <li>Florida – 33169, USA</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar-->
        <!-- Menubar-->
        <div class="rn-menubar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-4">
                        <!-- Logo-->
                        <a class="brand-name" href="index.html">
                            <img class="img-fluid" src="assets/images/logo.svg" alt="Logo">
                        </a>
                    </div>
                    <div class="col-8">
                        <nav class="rn-navbar-container">

                            <!-- Navbar Toggle Button for Only Tablet and Phone-->
                            <button class="rn-navbar-toggler" id="rn-navbar-toggler">
                                <span class="rn-navbar-toggler-bar"></span>
                                <span class="rn-navbar-toggler-bar"></span>
                                <span class="rn-navbar-toggler-bar"></span>
                            </button>

                            <!-- Main Nav Menu-->
                            <ul class="rn-navbar">
                                <li class="active">
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="#" class="">
                                        Cars
                                        <i class="lnr lnr-chevron-down"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="cars.html">Car List</a>
                                        </li>
                                        <li>
                                            <a href="car-search.html">Car Search</a>
                                        </li>
                                        <li>
                                            <a href="car-single.html">Car Single</a>
                                        </li>
                                        <li>
                                            <a href="checkout.html">Checkout</a>
                                        </li>
                                        <li>
                                            <a href="cart.html">Cart</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="rn-active">
                                        Pages
                                        <i class="lnr lnr-chevron-down"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="about.html">About Us</a>
                                        </li>
                                        <li>
                                            <a href="fullwidth.html">Fullwidth Page</a>
                                        </li>
                                        <li>
                                            <a href="right-sidebar.html">Right Sidebar Page</a>
                                        </li>
                                        <li>
                                            <a href="left-sidebar.html">Left Sidebar Page</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="404.html">404 Error</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Gallery
                                                <i class="lnr lnr-chevron-right"></i>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="gallery-col-2.html">2 Columns</a>
                                                </li>
                                                <li>
                                                    <a href="gallery-col-3.html">3 Columns</a>
                                                </li>
                                                <li>
                                                    <a href="gallery-col-4.html">4 Columns</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="service.html">Service</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Blog
                                        <i class="lnr lnr-chevron-down"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="blog.html">Blog List</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid.html">Blog Grid</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid-sidebar.html">Blog Grid-Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-single.html">Single Post</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Menubar-->

    </header>

    <div class="rn-carousel carousel slide" id="carouselExampleControls" data-ride="carousel">
        <div class="carousel-inner">

            <!-- Slider Item 1-->
            <div class="carousel-item active carousel-item-left">
                <div class="carousel-caption">
                    <h2 class="rn-fade-bottom mb-25">#1 Car Rent Service In Your City</h2>
                    <p class="rn-fade-bottom rn-caption-item-2 mb-35">Maecenas viverra porta eros, id tincidunt lorem rhoncus eget. Aliquam erat volutpat. Sed ultricies elementum egestas.</p>
                    <a class="btn btn-main btn-lg rn-fade-bottom rn-caption-item-3" href="#">Book Now</a>
                </div>
                <div class="rn-slider-overlayer"></div>
                <img class="d-block w-100" src="assets/images/slide1.jpg" alt="slide">
            </div>

            <!-- Slider Item 2-->
            <div class="carousel-item carousel-item-next carousel-item-left">
                <div class="carousel-caption">
                    <h2 class="rn-fade-bottom mb-25">Quality Cars with Unlimited Miles</h2>
                    <p class="rn-fade-bottom rn-caption-item-2 mb-35">Maecenas viverra porta eros, id tincidunt lorem rhoncus eget. Aliquam erat volutpat. Sed ultricies elementum egestas.</p>
                    <a class="btn btn-main btn-lg rn-fade-bottom rn-caption-item-3" href="#">Book Now</a>
                </div>
                <div class="rn-slider-overlayer"></div>
                <img class="d-block w-100" src="assets/images/slide2.jpg" alt="slide">
            </div>

            <!-- Slider Item 3-->
            <div class="carousel-item">
                <div class="carousel-caption">
                    <h2 class="rn-fade-bottom mb-25">24/7 Customer Support Guarantee</h2>
                    <p class="rn-fade-bottom rn-caption-item-2 mb-35">Maecenas viverra porta eros, id tincidunt lorem rhoncus eget. Aliquam erat volutpat. Sed ultricies elementum egestas.</p>
                    <a class="btn btn-main btn-lg rn-fade-bottom rn-caption-item-3" href="#">Book Now</a>
                </div>
                <div class="rn-slider-overlayer"></div>
                <img class="d-block w-100" src="assets/images/slide3.jpg" alt="slide">
            </div>

        </div>
        <!-- Slider Controls -->
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="lnr lnr-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="lnr lnr-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
</body>
</html>