﻿<div id="notify">
    <div class="modal custom  fade" id="notify-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" role="document">
                <div class="modal-content">
                    <div class="row align-items-center p-4">
                        <i id="iconcollapse" style="color:red;" class="px-3 fa fas fa-close fa-2x mr-2" aria-hidden="true"></i>
                        <span class="align-middle" style="font-weight:500;">Call has been delete!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>