﻿@model CarSharing.Models.ViewModels.LoginViewModel
@inject IViewLocalizer Localizer

<div class="container">
    <h2 class="text-center py-5">
        @Localizer["Login in account"]</h2>
        <div class="row justify-content-md-center">
            <div class="col-6">

                <form method="post" asp-controller="Account" asp-action="Login"
                      asp-route-returnUrl="@Model.ReturnUrl">

                    <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <label>@Localizer["Email"]</label>
                        <input class="form-control" asp-for="Email" />
                        <div style="color:red;">
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Password"]</label>
                        <input class="form-control" asp-for="Password" />
                        <div style="color:red;">
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="form-check">
                        <input asp-for="RememberMe" />
                        <label class="form-check-label">@Localizer["Remember"]</label>
                    </div>
                    <div class=" pt-4">
                        <button class="d-block btn-block btn btn-outline-success" type="submit">@Localizer["Login"]</button>
                    </div>
                </form>

            </div>
        </div>
</div>
