﻿@model CarSharing.Models.ViewModels.RegisterViewModel
@inject IViewLocalizer Localizer

<div class="container">
    <h2 class="text-center py-5">@Localizer["Register in CarSharing"]</h2>
    <div class="row justify-content-md-center">
        <div class="col-6">

            <form method="post" asp-controller="Account" asp-action="Register">


                <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label>@Localizer["Email"]</label>
                    <input class="form-control" asp-for="Email" />
                    <div style="color:red;">
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>@Localizer["Password"]</label>
                    <input class="form-control" asp-for="Password" />
                    <div style="color:red;">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>@Localizer["PasswordConfirm"]</label>
                    <input class="form-control" asp-for="PasswordConfirm" />
                    <div style="color:red;">
                        <span asp-validation-for="PasswordConfirm"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>@Localizer["Birthday"]</label>
                    <input class="form-control" asp-for="Birthday" />
                    <div style="color:red;">
                        <span asp-validation-for="Birthday"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Имя</label>
                    <input class="form-control" asp-for="FirstName" />
                    <div style="color:red;">
                        <span asp-validation-for="FirstName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Фамилия</label>
                    <input class="form-control" asp-for="LastName" />
                    <div style="color:red;">
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>
                <div class=" pt-4">
                    <button class="d-block btn-block btn btn-outline-success" type="submit">@Localizer["Register"]</button>
                </div>
            </form>
            <br /><br />

        </div>
    </div>
</div>
