﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>JWT в ASP.NET Core Web API</title>
</head>
<body>
    <div class="userInfo" style="display:none;">
        <p>Вы вошли как: <span class="userName"></span></p>
        <input type="button" value="Выйти" id="logOut" />
    </div>
    <div class="loginForm">
        <h3>Вход на сайт</h3>
        <label>Введите token</label><br />
        <input type="text" id="token" /> <br /><br />
     
    </div>
    <div>
        <input type="submit" id="getDataByLogin" value="Данные по логину" />
    </div>
    <div>
        <input type="submit" id="getDataByRole" value="Данные по роли" />
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script>

        $('#getDataByLogin').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '/api/user/getlogin',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + $('#token').val);
                },
                success: function (data) {
                    alert(data);
                },
                fail: function (data) {
                    console.log(data);
                }
            });
        });

    </script>
</body>
</html>