﻿@model IEnumerable<Call>
@{
    ViewData["Title"] = "Call requests";
}

<section class="h-100">
    <div id="mainContainer"  class="container-fluid p-0 h-100 d-flex flex-column flex-grow">
        @await Html.PartialAsync("CallMenu", ViewData["type"])


        @if (@Model.Count() > 0)
        {
            <div class="row">
                <table id="tableCalls" class="table table-striped text-center ">
                    <thead>
                        <tr>

                            <th>Phone</th>
                            <th>Name</th>
                            <th>Desired time</th>
                            <th>Server</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @foreach (Call br in @Model)
                        {

                            <tr>
                                <td class="align-middle">
                                    @br.PhoneNumber
                                </td>
                                <td class="align-middle">
                                    @br.Name
                                </td>
                                <td class="align-middle">
                                    @br.DesiredTime
                                </td>
                                <td class="align-middle">
                                    @if (!@br.Served)
                                    {
                                        <p style="color:red;">No served</p>
                                    }
                                    else
                                    {
                                        <p style="color:green;">Served</p>
                                    }
                                </td>
                                <td class="d-flex justify-content-center">
                                    @if (!@br.Served)
                                    {
                                        <form class="markProcessedAll pr-4" enctype="multipart/form-data">
                                            <input type="hidden" name="Call.CallID" value="@br.CallID">
                                            <button type="submit" class="btn btn-success">Processed</button>
                                        </form>
                                    }
                                    <form class="deleteCall" enctype="multipart/form-data">
                                        <input type="hidden" name="Call.CallID" value="@br.CallID">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
           @await Html.PartialAsync("NoCall")
        }
    </div>
</section>

<div id="notify">

</div>
