﻿@model String
<style>
    .navbar-nav > li > a, .navbar-brand {
        font-weight: 300;
    }

    .modal.custom .modal-dialog {
        width: 20%;
        position: fixed;
        padding: 30px;
        bottom: 0;
        left: 0;
        margin: 0;
    }
</style>

<script>
    $(document).ready(function () {
        function checkNullList() {
            if ($('#tbody').children().length == 0) {
                location.reload();

            }
        }
        
         $(".markProcessedAll").submit(function (event) {
             var form = $(this);
            var posting = $.post('/Call/SetServer/', $(this).serialize(),
                function (data) {
                    form.parent().prev().html('Served').css('color', 'green');
                    form.remove();
                    

                    $("#notify").html(data);
                });

            event.preventDefault();

            posting.done(function (data) {
                $('#notify-model').modal('show');
                setTimeout(function () { $('#notify-model').modal('hide'); }, 1000);
            });
        });

        $(".markProcessed").submit(function (event) {
            var rowTable = $(this).parent().parent();
            var posting = $.post('/Call/SetServer/', $(this).serialize(),
                function (data) {
                    rowTable.remove();

                    $("#notify").html(data);
                });

            event.preventDefault();

            posting.done(function (data) {
                $('#notify-model').modal('show');
                setTimeout(function () { $('#notify-model').modal('hide'); checkNullList(); }, 1000);
            });
        });

        $(".deleteCall").submit(function (event) {
            var rowTable = $(this).parent().parent();
            var posting = $.post('/Call/Delete/', $(this).serialize(),
                function (data) {
                    rowTable.remove();

                    $("#notify").html(data);
                });

            event.preventDefault();

            posting.done(function (data) {
                $('#notify-model').modal('show');
                setTimeout(function () { $('#notify-model').modal('hide'); checkNullList(); }, 1000);

            });
        });
    });
</script>

<nav class="navbar-light p-0">
    <ul class="navbar-nav row text-center flex-row">
        <li class="nav-item col-4 shadow p-2">
            <a href="@Url.Action("List", "Call", new { type = "waiting" })" class="nav-link @Html.Raw(Model == "waiting" ? "active" : string.Empty)">
                <i id="iconcollapse" class="fa fas fa-bell fa-xs mr-2" aria-hidden="true"></i>
                <strong>Waiting for a call</strong>
            </a>
        </li>
        <li class="nav-item col-4 shadow p-2">
            <a href="@Url.Action("List", "Call", new { type = "proccesed" })" class="nav-link @Html.Raw(Model == "proccesed" ? "active" : string.Empty)">
                <i id="iconcollapse" class="fa fas fa-check-circle fa-xs mr-2" aria-hidden="true"></i>
                <strong>Processed</strong>
            </a>
        </li>
        <li class="nav-item col-4 shadow p-2">
            <a href="@Url.Action("List", "Call", new { type = "all" })" class="nav-link @Html.Raw(Model == "all" ? "active" : string.Empty)">
                <i id="iconcollapse" class="fa fas fa-globe fa-xs mr-2" aria-hidden="true"></i>
                <strong>All</strong>
            </a>
        </li>
    </ul>
</nav>