﻿<div id="noCalls" class="row h-100 justify-content-center align-items-center">
    <div class="d-flex flex-column">
        <div style="height:368px; width:368px; background-image: url('/images/phone.png'); background-size: 100% 100%; background-repeat:no-repeat;" alt=""></div>
        <h1 class="pt-4 text-center" style="color:#4d4d4d">No calls ordered</h1>
    </div>
</div>