﻿@model IEnumerable<Call>
@{
    ViewData["Title"] = "Call requests";
}

<section class="h-100">
    <div id="mainContainer" class="container-fluid p-0 h-100 d-flex flex-column flex-grow">
        @await Html.PartialAsync("CallMenu", ViewData["type"])


        @if (@Model.Count() > 0)
        {
            <div id="tableCalls" class="row">
                <table class="table table-striped text-center ">
                    <thead>
                        <tr>
                            <th>Phone</th>
                            <th>Name</th>
                            <th>Desired time</th>
                            <th>Served</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @foreach (Call br in @Model)
                        {
                            <tr class="row-called">
                                <td class="align-middle">
                                    @br.PhoneNumber
                                </td>
                                <td class="align-middle">
                                    @br.Name
                                </td>
                                <td class="align-middle">
                                    @br.DesiredTime
                                </td>
                                <td class="d-flex justify-content-center">
                                    <form class="markProcessed pr-4" enctype="multipart/form-data">
                                        <input type="hidden" name="Call.CallID" value="@br.CallID">
                                        <button type="submit" class="btn btn-success">Processed</button>
                                    </form>
                                    <form class="deleteCall" enctype="multipart/form-data">
                                        <input type="hidden" name="Call.CallID" value="@br.CallID">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            @await Html.PartialAsync("NoCall")
        }

    </div>
</section>

<div id="notify">

</div>
