﻿@model IEnumerable<BusyDaysViewModel>


    <div class="free-car-block btn-group" role="group" aria-label="Free days">
        @foreach (var item in @Model)
        {
        <button type="button" class="btn btn-@(item.Count > 0?"danger":"success")">@item.Day.ToString("dd/MM")</button>
        }
    </div>